<tr class="border-b hover:bg-gray-200">
  <td class="py-4 pl-6">
    <%= sample.id %>
  </td>
  <th class="px-6 py-4 font-bold text-gray-700 whitespace-nowrap flex space-x-1">
    <%= link_to sample, class: "hover:underline", data: { turbo: false } do %>
      <%= highlight(sample&.title, params.dig(:query, :title_or_plain_text_description_i_cont)&.strip) %>
    <% end %>
    <% if sample.is_reference? %>
      <div class="my-auto">
        <%= render TooltipComponent.new(tooltip: "Reference", user: current_user) do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"></path>
            <path d="M12 12l8 -4.5"></path>
            <path d="M12 12l0 9"></path>
            <path d="M12 12l-8 -4.5"></path>
          </svg>
        <% end %>
      </div>
    <% end %>
  </th>
  <td class="px-6 py-4">
    <%= sample.category.humanize %>
  </td>
  <td class="px-6 py-4">
    <%= sample.sku %>
  </td>
  <td class="px-6 py-4">
    <%= sample.spectra.count %>
  </td>
  <td class="px-6 py-4">
    <%= sample.spectra.count + sample.images.count + sample.documents.count %>
  </td>
  <td class="px-6 py-4">
    <%= time_ago_in_words(sample.created_at) %> ago
  </td>
</tr>
