<tr class="border-b hover:bg-gray-200">
  <td class="py-4 pl-6">
    <%= sample.id %>
  </td>
  <th class="px-6 py-4 font-bold text-gray-700 whitespace-nowrap">
    <%= link_to sample, class: "hover:underline", data: { turbo: false } do %>

      <%= highlight(sample&.title, params.dig(:query, :title_or_plain_text_description_i_cont)&.strip) %>
    <% end %>
  </th>
  <td class="px-6 py-4">
    <%= sample.category.humanize %>
  </td>
  <td class="px-6 py-4">
    <%= sample.compound %>
  </td>
  <td class="px-6 py-4">
    <%= sample.spectra.count %>
  </td>
  <td class="px-6 py-4">
    <%= sample.spectra.count + sample.images.count + sample.documents.count %>
  </td>
  <td class="px-6 py-4">
    <%= time_ago_in_words(sample.created_at) %> ago
  </td>
</tr>
