<%= render Forms::SectionLabelComponent.new() do %>
  <div class="flex justify-between">
    <div class="flex p-2 space-x-2 text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M8 4h-3v16h3"></path>
        <path d="M16 4h3v16h-3"></path>
      </svg>
      <div class="flex space-x-1 text-gray-700">
        <span class="my-auto">
          <%= ApplicationHelper.humanize_range spectrum.range %>
        </span>
        <div class="my-auto">
          &middot;
        </div>
        <span class="my-auto">
          <%= ApplicationHelper.humanize_category spectrum.category %>
        </span>
        <div class="my-auto">
          &middot;
        </div>
        <span class="my-auto">
          <%= ApplicationHelper.humanize_file_format spectrum.format %>
        </span>
      </div>
    </div>
    <div id="controls" class="flex flex-row items-center justify-center mx-1 space-x-1">
      <% if policy(spectrum).edit? %>
        <%= link_to [:edit, @sample, spectrum] do %>
          <%= render TooltipComponent.new(tooltip: "Edit", user: current_user) do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-edit text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
              <path d="M16 5l3 3"></path>
            </svg>
          <% end %>
        <% end %>
      <% end %>

      <% if policy(spectrum).destroy? %>
        <%= render TooltipComponent.new(tooltip: "Delete", user: current_user) do %>
          <%= link_to [@sample, spectrum], data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-trash-x text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 7h16"></path>
              <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
              <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
              <path d="M10 12l4 4m0 -4l-4 4"></path>
            </svg>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<div id="<%= dom_id spectrum %>" class="ml-2">
  <div class="flex space-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <rect x="5" y="5" width="14" height="14" rx="1"></rect>
      <path d="M9 9h6v6h-6z"></path>
      <path d="M3 10h2"></path>
      <path d="M3 14h2"></path>
      <path d="M10 3v2"></path>
      <path d="M14 3v2"></path>
      <path d="M21 10h-2"></path>
      <path d="M21 14h-2"></path>
      <path d="M14 21v-2"></path>
      <path d="M10 21v-2"></path>
    </svg>
    <span>Equipment</span>
  </div>
  <% unless spectrum.equipment.blank? %>
    <div class="p-2 ml-2 text-sm text-justify text-gray-500">
      <%= spectrum.equipment %>
    </div>
  <% else %>
    <div class="p-2 ml-2 text-sm text-justify text-gray-500">
      Not provided
    </div>
  <% end %>
  <div class="flex space-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <line x1="4" y1="6" x2="20" y2="6"></line>
      <line x1="4" y1="12" x2="20" y2="12"></line>
      <line x1="4" y1="18" x2="16" y2="18"></line>
    </svg>
    <span>Description</span>
  </div>
  <% unless spectrum.description.blank? %>
    <div class="p-2 ml-2 text-sm text-justify text-gray-500">
      <%= spectrum.description %>
    </div>
  <% else %>
    <div class="p-2 ml-2 text-sm text-justify text-gray-500">
      Not provided
    </div>
  <% end %>
  <div class="flex mb-2 space-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M15 3v4a1 1 0 0 0 1 1h4"></path>
      <path d="M18 17h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h4l5 5v7a2 2 0 0 1 -2 2z"></path>
      <path d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2"></path>
    </svg>
    <span>Files</span>
  </div>

  <%= tag.div data: { controller: "modal chart", chart_url_value: spectrum&.processed_file&.url, chart_filename_value: spectrum&.processed_file&.filename, chart_id_value: spectrum.id } do %>
    <div class="flex justify-between space-x-2 ml-2">

      <% if spectrum.processed_file.attached? && spectrum.processed_file.persisted? %>
        <% if spectrum.processing_successful? %>
          <%= render TooltipComponent.new(tooltip: "Show plot", user: current_user) do %>
            <%= tag.div data: { action: "click->modal#toggle click->chart#visualize" } do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto text-primary-300 hover:text-primary-500 focus:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="3" y1="4" x2="21" y2="4"></line>
                <path d="M4 4v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-10"></path>
                <line x1="12" y1="16" x2="12" y2="20"></line>
                <line x1="9" y1="20" x2="15" y2="20"></line>
                <path d="M8 12l3 -3l2 2l3 -3"></path>
              </svg>
            <% end %>
          <% end %>
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500 my-1.5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="3" y1="4" x2="21" y2="4"></line>
            <path d="M4 4v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-10"></path>
            <line x1="12" y1="16" x2="12" y2="20"></line>
            <line x1="9" y1="20" x2="15" y2="20"></line>
            <path d="M8 12l3 -3l2 2l3 -3"></path>
          </svg>
        <% end %>
        <div class="w-full my-auto text-sm text-gray-500">
          <%= link_to spectrum.processed_file.url, class: "font-bold hover:underline" do %>
            <%= spectrum.processed_file.filename %>
          <% end %>
        </div>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500 my-1.5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="3" y1="4" x2="21" y2="4"></line>
          <path d="M4 4v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-10"></path>
          <line x1="12" y1="16" x2="12" y2="20"></line>
          <line x1="9" y1="20" x2="15" y2="20"></line>
          <path d="M8 12l3 -3l2 2l3 -3"></path>
        </svg>
        <div class="w-full my-auto text-sm text-gray-500">
          <span class="my-auto text-sm text-gray-500 ">
            Not available
          </span>
        </div>
      <% end %>

    </div>
    <%= render "spectrum_modal", spectrum: spectrum %>
  <% end %>

  <div id="settings" class="flex space-x-2 ml-2 pb-1.5">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file w-5 h-5 my-auto text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
      <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
    </svg>
    <% if spectrum.file.attached? %>
      <%= link_to spectrum.file.url, class: "text-sm font-bold text-gray-500 hover:underline" do %>
        <%= spectrum.file.filename %>
      <% end %>
    <% else %>
      <span class="my-auto text-sm text-gray-500 ">
        Not provided
      </span>
    <% end %>
  </div>

  <div id="settings" class="flex space-x-2 ml-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <circle cx="12" cy="14" r="2"></circle>
      <path d="M12 10.5v1.5"></path>
      <path d="M12 16v1.5"></path>
      <path d="M15.031 12.25l-1.299 .75"></path>
      <path d="M10.268 15l-1.3 .75"></path>
      <path d="M15 15.803l-1.285 -.773"></path>
      <path d="M10.285 12.97l-1.285 -.773"></path>
      <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
      <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
    </svg>
    <% if spectrum.settings.attached? %>
      <%= link_to spectrum.settings.url, class: "text-sm font-bold text-gray-500 hover:underline" do %>
        <%= spectrum.settings.filename %>
      <% end %>
    <% else %>
      <span class="my-auto text-sm text-gray-500 ">
        Not provided
      </span>
    <% end %>
  </div>

</div>
