<%= render Sections::SectionComponent.new() do %>
  <%= render Sections::DivContainerComponent.new() do %>

    <div class="px-4 mx-auto max-w-screen-xl text-center lg:px-12">
      <%= render Typography::H1Component.new() do %>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor amet.
      <% end %>
      <%= render Typography::PHeroComponent.new() do %>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue.
      <% end %>
    </div>

    <%= render Typography::UnderlineFlexHeadingComponent.new() do %>
      <%= render Typography::H3Component.new(cls: "my-auto mb-0").with_content("Reference spectra samples") %>
      <%= render Links::NewLinkComponent.new(path: [:new, :sample], cls: "text-gray-500") %>
    <% end %>

    <% if @samples&.count > 0 %>
      <div class="py-2 px-4 mx-auto max-w-screen-xl text-center">
        <div class="overflow-x-auto relative rounded-lg border">
          <table class="w-full text-sm text-left text-gray-500">
            <thead>
              <tr>
                <th scope="col" class="py-3 pl-6">#</th>
                <th scope="col" class="py-3 px-6">Title</th>
                <th scope="col" class="py-3 px-6">Category</th>
                <th scope="col" class="py-3 px-6">Compound</th>
                <th scope="col" class="py-3 px-6">Files</th>
                <th scope="col" class="py-3 px-6">Added</th>
              </tr>
            </thead>
            <tbody class="bg-white border-b">
              <%=  render @samples %>
            </tbody>
          </table>
        </div>
      </div>

    <% else %>
      <div class="relative p-8 text-center bg-white rounded-lg border border-gray-200">
        <h2 class="text-2xl font-medium">
          There's nothing here...
        </h2>
        <p class="mt-4 text-sm text-gray-500">
          New samples will appear here
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
