<%= render Sections::SectionComponent.new(cls: "!py-0") do %>
  <div class="px-4 py-24 mx-auto text-gray-700 sm:px-6 lg:px-8">

    <%= tag.div data: { controller: "tabs", tabs_active_class: "active-tab" } do %>
      <div class="grid grid-cols-12 mx-auto border rounded-md shadow-sm max-w-screen-2xl">

        <div class="w-full col-span-3 bg-white rounded-l-lg">
          <div class="flex justify-between">
            <ul class="flex flex-wrap w-full text-sm">
              <li class="w-full border-b">
                <div class="flex flex-col items-center justify-center h-16 text-lg font-medium">
                  <div class="flex space-x-2">
                    <span class="my-auto">
                      Sample
                    </span>
                  </div>
                </div>
              </li>
              <li class="w-full">
                <%= tag.div data: { "tabs-target": "tab" }, id: "info-tab", class: "active-tab hover:bg-gray-100" do %>
                  <button type="button" role="tab" aria-controls="info" aria-selected="true" class="inline-block w-full p-4" data-action="click->tabs#switch">Info</button>
                <% end %>
              </li>
              <li class="w-full">
                <%= tag.div data: { "tabs-target": "tab" }, id: "info-tab", class: "hover:bg-gray-100" do %>
                  <button type="button" role="tab" aria-controls="info" aria-selected="true" class="inline-block w-full p-4" data-action="click->tabs#switch">Files</button>
                <% end %>
              </li>
              <li class="w-full border-y">
                <div class="flex flex-col items-center justify-center h-16 text-lg font-medium">
                  <div class="flex space-x-1">
                    <span class="my-auto">
                      Spectra
                    </span>
                    <%= render TooltipComponent.new(tooltip: "New Spectrum", user: current_user) do %>
                      <%= link_to [:new, @sample, :spectrum], class: "my-auto" do %>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary-300 hover:text-primary-500 focus:text-primary-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
              <% unless @spectra.nil? %>
                <% @spectra.each do |spectrum| %>
                  <li class="w-full">
                    <%= tag.div data: { "tabs-target": "tab" }, id: "spectrum-#{spectrum.id}-tab", class: "hover:bg-gray-100" do %>
                      <div class="flex items-center justify-center w-full p-4 text-center cursor-pointer space-x-2" data-action="click->tabs#switch">
                        <%= render "spectrum_processing_indicator_frame", spectrum: spectrum, sample: @sample %>
                        <span class="py-1.5">
                          <%= ApplicationHelper.humanize_category spectrum.category %>,
                          <%= ApplicationHelper.humanize_file_format spectrum.format %>
                        </span>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="w-full col-span-9 bg-white border-l rounded-r-lg">

          <div id="sample" class="px-8 py-4 border-b">
            <div class="flex justify-between">
              <div class="flex">

                <%= render SampleCategoryBadgeComponent.new(category: @sample.category, cls: "my-auto").with_content(@sample.category.humanize.downcase) %>
                <div class="my-auto mr-2 text-sm text-gray-500">
                  &middot;
                </div>
                <span class="my-auto mr-2 text-xs font-medium text-gray-500">
                  id: <%= @sample.id %>
                </span>
                <div class="my-auto mr-2 text-sm text-gray-500">
                  &middot;
                </div>
                <span class="my-auto mr-2 text-xs font-medium text-gray-500">
                  by
                  <%= link_to @sample.user, class: "font-bold hover:underline" do %>
                    <%= @sample.user.full_name %>
                  <% end %>
                </span>

              </div>
              <div id="controls" class="flex flex-row items-center justify-center mx-1 space-x-1">
                <% if policy(@sample).edit? %>
                  <%= link_to [:edit, @sample] do %>
                    <%= render TooltipComponent.new(tooltip: "Edit", user: current_user) do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-edit text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                        <path d="M16 5l3 3"></path>
                      </svg>
                    <% end %>
                  <% end %>
                <% end %>

                <% if policy(@sample).favorite? %>
                  <% if current_user.favorited?(@sample) %>
                    <%= render TooltipComponent.new(tooltip: "Unfavorite", user: current_user) do %>
                      <%= link_to [:favorite, @sample], data: { turbo_method: :patch } do %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star-filled flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-star text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" fill="currentColor"></path>
                        </svg>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= render TooltipComponent.new(tooltip: "Favorite", user: current_user) do %>
                      <%= link_to [:favorite, @sample], data: { turbo_method: :patch } do %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-star text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                        </svg>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>

                <% if policy(@sample).destroy? %>
                  <%= render TooltipComponent.new(tooltip: "Delete", user: current_user) do %>
                    <%= link_to @sample, data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-trash-x text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 7h16"></path>
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        <path d="M10 12l4 4m0 -4l-4 4"></path>
                      </svg>
                    <% end %>
                  <% end %>
                <% end %>

                <%= tag.div data: { controller: "clipboard", action: "click->clipboard#copy" } do %>
                  <%= link_to "", @sample, class: "hidden" , data: { "clipboard-target": "text" } %>
                  <%= render TooltipComponent.new(tooltip: "Copy link", user: current_user) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" data-clipboard-target="svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-clipboard text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                      <rect x="9" y="3" width="6" height="4" rx="2"></rect>
                    </svg>
                  <% end %>
                <% end %>
              </div>
            </div>
            <h2 class="mb-2 text-2xl font-semibold md:mt-2"> <%= @sample.title %></h2>
            <div class="!mt-4 !text-sm !text-gray-500">
              <%= @sample.description %>
            </div>
          </div>

          <div id="panels" class="rounded-br-lg">
            <%= tag.div data: { "tabs-target": "panel" }, id: "info-panel", class: "p-4 bg-white rounded-br-lg md:p-8 md:pt-4" do %>
              <%= render "sample_panel", sample: @sample %>
            <% end %>

            <%= tag.div data: { "tabs-target": "panel" }, id: "files-panel", class: "hidden p-4 bg-white rounded-br-lg md:p-8 md:pt-4" do %>
              <%= render "files_panel", sample: @sample %>
            <% end %>

            <% cache @spectra do %>
              <% @spectra&.each do |spectrum| %>
                <%= tag.div data: { "tabs-target": "panel" }, id: "spectrum_#{spectrum.id}_panel-wrapper", class: "hidden p-4 bg-white rounded-br-lg md:p-8 md:pt-4" do %>
                  <%= render "spectrum_panel", spectrum: spectrum, sample: @sample %>
                <% end %>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
