<%= tag.div data: { controller: "reply", reply_target: "reply" } do %>
  <span class="absolute flex items-center justify-center rounded-full -left-3 ring-8 ring-white bg-primary-300">
    <% if reply.user %>
      <% if reply.user.avatar.attached? %>
        <%= image_tag  reply.user.avatar, class:"object-cover w-6 h-6 rounded-full shadow-sm" %>
      <% end %>
    <% end %>
  </span>
  <%= turbo_frame_tag reply do %>
    <div class="p-4 my-4 bg-white border border-gray-200 rounded-md shadow-sm">
      <div class="items-center justify-between mb-3 sm:flex">
        <div class="text-sm font-normal text-gray-500 lex">
          <%= reply.user&.full_name %>
          commented:
        </div>
        <div class="flex">
          <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">
            <%= time_ago_in_words(reply.created_at) %> ago
            <% unless reply.created_at == reply.updated_at %>
              (edited <%= time_ago_in_words reply.updated_at %> ago)
            <% end %>
          </time>

          <div class="flex mr-2">

            <% if policy(reply).edit? %>
              <%= link_to [:edit, @discussion, reply] do %>
                <%= render TooltipComponent.new(tooltip: "Edit", user: current_user, cls: "!p-0 !pt-1.5 -mt-1.5") do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-4 h-4 icon icon-tabler icon-tabler-edit text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                    <path d="M16 5l3 3"></path>
                  </svg>
                <% end %>
              <% end %>
            <% end %>

            <% if policy(reply).destroy? %>
              <%= render TooltipComponent.new(tooltip: "Delete", user: current_user, cls: "!p-0 !pt-1.5 -mt-1.5") do %>
                <%= link_to [reply.discussion, reply],
                           data: { turbo_method: :delete, turbo_confirm: "Are you sure ?", "reply-target": "delete" } do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-4 h-4 icon icon-tabler icon-tabler-trash-x text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 7h16"></path>
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                    <path d="M10 12l4 4m0 -4l-4 4"></path>
                  </svg>
                <% end %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
      <div class="p-3 text-xs font-normal text-gray-700 border border-gray-200 rounded-md bg-gray-50">
        <%= simple_format reply.reply %>
      </div>
    </div>
  <% end %>
<% end %>
