<%= tag.div data: { controller: "reply", reply_target: "reply" } do %>
  <span class="flex absolute -left-3 justify-center items-center rounded-full ring-8 ring-white bg-primary-300">
    <% if reply.user %>
      <% if reply.user.avatar.attached? %>
        <%= image_tag  reply.user.avatar, class:"object-cover w-6 h-6 rounded-full shadow-sm" %>
      <% end %>
    <% end %>
  </span>
  <%= turbo_frame_tag reply do %>
    <div class="p-4 my-4 bg-white rounded-md border border-gray-200 shadow-sm">
      <div class="justify-between items-center mb-3 sm:flex">
        <div class="text-sm font-normal text-gray-500 lex">
          <%= reply.user&.full_name %>
          commented:
        </div>
        <div class="flex">
          <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">
            <%= time_ago_in_words(reply.created_at) %> ago
            <% unless reply.created_at == reply.updated_at %>
              (edited <%= time_ago_in_words reply.updated_at %> ago)
            <% end %>
          </time>
          <% if policy(reply).edit? %>
            <div class="flex mr-2">
              <%= link_to [:edit, reply.discussion, reply] do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-0.5 mb-1 w-4 h-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
              <% end %>
              <%= link_to [reply.discussion, reply],
                           data: {turbo_method: :delete, turbo_confirm: "Are you sure ?", "reply-target": "delete" } do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 mb-1 w-4 h-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="p-3 text-xs font-normal text-gray-700 bg-gray-50 rounded-md border border-gray-200">
        <%= simple_format reply.reply %>
      </div>
    </div>
  <% end %>
<% end %>
