<div class="">
  <article class="">
    <div class="">
      <figure class="image is-48x48">
        <% # gravatar_image_tag(reply.user.email, class: 'border-radius-50', size: 48, alt: reply.user.username) %>
      </figure>
    </div>
    <div class="">
      <div class="">
        <p>
          <strong><%= reply.user.first_name %></strong> <small><%= time_ago_in_words(reply.created_at) %></small>
          <br/>
          <%= reply.reply %>
        </p>
      </div>
      <% if reply_author(reply) || has_role?(:admin) %>
        <nav class="">
          <div class="">
            <a class="">
              <%= link_to edit_discussion_reply_path(reply.discussion, reply) do %>
                <%= fa_icon "edit" %>
              <% end %>
            </a>
            <a class="">
              <%= link_to [reply.discussion, reply],
                          method: :delete, data: { confirm: "Are you sure ?" } do %>
                <%= fa_icon "trash" %>
              <% end %>
            </a>
          </div>
        </nav>
      <% end %>
    </div>
  </article>
</div>
