<%= simple_form_for(@discussion) do |f| %>
  <%= f.error_notification %>
  <div class="">
    <div class="">
      <%= f.input :title, required: true, input_html: { class: 'input' }, wrapper: false, label_html: { class: "label" } %>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= f.input :content, required: true, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: "label" } %>
    </div>
  </div>
  <div class="">
    <label class="">Category</label>
    <div class="">
      <span class="">
        <%= f.input_field :category_id, collection:@categories.map { |c| [c.category_name, c.id] }, prompt: "Select category" %>
      </span>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= f.button :submit, class:"" %>
    </div>
  </div>
<% end %>
