<%= simple_form_for @discussion do |f| %>

  <div class="grid grid-cols-12 mb-4">

    <div class="col-span-10">
      <%= render Form::LabelComponent.new().with_content("Title") %>
      <%= render Form::TextInputComponent.new(form: f, field: :title, required: true, placeholder: "Discussion title") %>
    </div>

    <div class="col-span-2 ml-6">
      <%= render Form::LabelComponent.new().with_content("Category") %>
      <%= f.input :category_id, collection: @categories.map { |c| [c.category_name, c.id] }, input_html: {class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"}, label: false, hint: false, include_blank: false %>
    </div>

  </div>

  <div class="mb-4">
    <%= render Form::LabelComponent.new().with_content("Content") %>
    <%= render Form::TextInputComponent.new(form: f, as: :rich_text_area, field: :content, required: true, placeholder: "Discussion content") %>
  </div>

  <div class="flex">
    <%= render Form::SubmitComponent.new(form: f).with_content("Create Discussion") %>
    <%= render Form::BackButtonComponent.new(path: discussions_path).with_content("Back") %>
  </div>
<% end %>
