<%= @discussion.title %>
by <%= @discussion&.user.first_name %> in <%= link_to @discussion.category.category_name, @discussion.category %>
<% if discussion_author(@discussion) %>
  <%= link_to "Edit Discussion", edit_discussion_path(@discussion), class: "button" %>
  <%= link_to "Delete", discussion_path(@discussion), data: {turbo_method: :delete, turbo_confirm: "Delete discussion?" }, class: "btn red" %>
<% end %>
<%= @discussion.content %>
<%= @discussion.replies.count %> Replies
<%= render @discussion.replies %>
Leave a reply
<% if user_signed_in? %>
  <%= render "replies/form" %>
<% else %>
  <p>To reply you need to <%= link_to "login", new_user_session_path %>. Don't have an account?
    <%= link_to "Sign up", new_user_registration_path %> for one.</p>
<% end %>
