<section class="bg-gray-50 dark:bg-gray-900 border pb-10">
  <div class="container mx-auto mt-10">
    <div class="p-4 bg-white rounded-lg border shadow-md sm:p-6 dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-between">
        <h1 class="mb-4 ml-4 text-4xl font-bold tracking-tight leading-none text-gray-900">
          <%= @discussion.title %>
        </h1>
        <div class="flex">
          <% if policy(:discussion).edit? %>
            <%= link_to edit_discussion_path(@discussion) do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            <% end %>
          <% end %>
          <% if policy(:discussion).destroy? %>
            <%= link_to discussion_path(@discussion), data: {turbo_method: :delete, turbo_confirm: "Delete discussion?" } do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= @discussion.content %>
      <ol class="relative border-l border-gray-200 dark:border-gray-700">
        <li class="mb-10 ml-6">
          <%= render @discussion.replies.order("created_at asc") %>
        </li>
      </ol>
      <%= render "replies/form" %>
    </div>
  </div>
</section>
