<%= simple_form_for @spectrum, validate: true do |f| %>
  <div id="info" class="mb-8">
    <%= render Forms::SectionLabelComponent.new().with_content("Info") %>

    <div id="title" class="mb-4">
      <%= render Forms::LabelComponent.new(optional: false).with_content("Title") %>
      <%= render Forms::TextInputComponent.new(cls: "text-gray-500 !bg-gray-100", form: f, field: :title, required: true, disabled: true, readonly: true) %>
      <%= render Forms::PHelperComponent.new().with_content("You can not change title for existing spectrum here. Please contact the admin.") %>
    </div>
  </div>

  <div id="metadata">
    <%= render Forms::SectionLabelComponent.new().with_content("Metadata") %>
    <%= render Forms::LabelComponent.new().with_content("Metadata") %>
    <%= render Forms::TextInputComponent.new(form: f, as: :text, field: :metadata, required: false, placeholder: "Description to be displayed on object cards", data: { controller: "textarea", action: "input->textarea#resize", textarea_target: "input" }, v: JSON.is_json?(@spectrum.metadata) ? JSON.generate(@spectrum.metadata) : @spectrum.metadata) %>
    <%= render Forms::PHelperComponent.new().with_content("Must be a valid JSON object, prefer single-word keys ") %>
  </div>

  <div class="flex mt-4">
    <%= render Forms::SubmitComponent.new(form: f).with_content("Save") %>
    <%= render Forms::BackButtonComponent.new(path: (["new", "create"].include? params[:action]) ? :spectra : @spectrum).with_content("Back") %>
  </div>
<% end %>
