<%= render "shared/errors", obj: @spectrum %>
<%= simple_form_for(@spectrum) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
  </div>
  <div class="form-inputs">
    <%= f.file_field :csvs, multiple: true, direct_upload: false %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
