<%= render Sections::SectionComponent.new() do %>
  <%= render Sections::DivContainerComponent.new() do %>

    <div class="px-4 mx-auto max-w-screen-xl text-center lg:px-12">
      <%= render Typography::H1Component.new() do %>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor amet.
      <% end %>
      <%= render Typography::PHeroComponent.new() do %>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue.
      <% end %>
    </div>

    <%= render Typography::UnderlineFlexHeadingComponent.new() do %>
      <%= render Typography::H3Component.new(cls: "my-auto mb-0").with_content("Reference Spectra") %>
      <%= render Links::NewLinkComponent.new(path: [:new, :spectrum], cls: "text-gray-500") %>
    <% end %>

    <% if @spectra&.count > 0 %>
      <div class="grid grid-cols-3 gap-4">
        <% @spectra.each do |spectrum| %>
          <div class="bg-white border border-gray-200 rounded-lg shadow-md block max-w-screen-xl">
            <div class="md:flex md:items-center md:space-y-0 md:space-x-8">
              <div class="w-full mb-4 m-4">
                <%= render SpectrumCategoryBadgeComponent.new(category: spectrum.category, cls: "!my-auto").with_content(spectrum.category.humanize.downcase) %>
                <div id="title" class="mt-4">
                  <%= link_to spectrum do %>
                    <p class="text-lg font-medium">
                      <%= spectrum.title %>
                    </p>
                  <% end %>

                  <p class="font-normal text-sm text-gray-500 mr-8">
                    <%= spectrum.description.to_plain_text.truncate(100) %>
                  </p>
                </div>
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="relative p-8 text-center bg-white rounded-lg border border-gray-200">
        <h2 class="text-2xl font-medium">
          There's nothing here...
        </h2>
        <p class="mt-4 text-sm text-gray-500">
          New spectra will appear here
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
