<%= render Sections::SectionComponent.new() do %>
  <%= render Sections::DivContainerComponent.new() do %>

    <div class="px-4 mx-auto max-w-screen-xl text-center lg:px-12">
      <%= render Typography::H1Component.new() do %>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor amet.
      <% end %>
      <%= render Typography::PHeroComponent.new() do %>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue.
      <% end %>
    </div>

    <%= render Typography::UnderlineFlexHeadingComponent.new() do %>
      <%= render Typography::H3Component.new(cls: "my-auto mb-0").with_content("Reference Spectra") %>
      <%= render Links::NewLinkComponent.new(path: [:new, :spectrum], cls: "text-gray-500") %>
    <% end %>

    <% if @spectra&.count > 0 %>
      <% @spectra.each do |spectrum| %>
        <%= render Sections::CardComponent.new() do %>
          <div class="m-4 ml-0">
            <div role="status" class="space-y-8 md:flex md:items-center md:space-y-0 md:space-x-8">
              <div class="w-full">
                <div class="mb-4">
                  <%= link_to spectrum do %>
                    <p class="text-lg font-medium">
                      <%= spectrum.title %>
                    </p>
                  <% end %>
                </div>
                <div class="mb-2.5 h-2 bg-gray-200 rounded-full max-w-[480px]"></div>
                <div class="mb-2.5 h-2 bg-gray-200 rounded-full"></div>
                <div class="mb-2.5 h-2 bg-gray-200 rounded-full max-w-[440px]"></div>
                <div class="mb-2.5 h-2 bg-gray-200 rounded-full max-w-[460px]"></div>
                <div class="h-2 bg-gray-200 rounded-full max-w-[360px]"></div>
              </div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="mb-4 text-sm text-center text-gray-400">
        There are no spectra yet
      </p>
    <% end %>
  <% end %>
<% end %>
