<%= render "shared/errors", obj: @spectrum %>
<section>
  <div class="container p-20 mx-auto">
    <div class="flex justify-center mb-6 text-4xl font-semibold">
      New spectrum
    </div>
    <%= simple_form_for [@sample, @spectrum], validate: true do |f| %>

      <%= render Forms::SectionLabelComponent.new().with_content("Info") %>
      <div id="info" class="grid grid-cols-2 gap-4 mb-4">

        <div>
          <%= render Forms::LabelComponent.new(optional: false).with_content("Category/Type") %>
          <%= f.input :category, default: @spectrum.category, collection: Spectrum.categories.keys.map { |s| [s.humanize, s] }, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-md shadow-sm focus:ring-1 focus:ring-primary-500 focus:border-primary-600 peer" }, hint: false, label: false %>
        </div>

        <div>
          <%= render Forms::LabelComponent.new(optional: false).with_content("Range") %>
          <%= f.input :range, default: @spectrum.range, collection: SpectraHelper::HUMANIZED_RANGES_COLLECTION, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-md shadow-sm focus:ring-1 focus:ring-primary-500 focus:border-primary-600 peer" }, hint: false, label: false %>
        </div>

        <div class="col-span-2 mb-4">
          <%= render Forms::LabelComponent.new().with_content("Description") %>
          <%= render Forms::TextInputComponent.new(form: f, as: :rich_text_area, field: :description, required: false, placeholder: "General description") %>
        </div>

        <div class="col-span-2 mb-4">
          <%= render Forms::LabelComponent.new().with_content("Equipment") %>
          <%= render Forms::TextInputComponent.new(form: f, as: :rich_text_area, field: :equipment, required: false, placeholder: "Equipment description") %>
        </div>
      </div>

      <div id="files" class="mb-4">
        <%= render Forms::SectionLabelComponent.new().with_content("Files") %>
        <div class="grid grid-cols-2 gap-4">
          <%= tag.div class: "",
                data: {
                  uppy: "spectrum[file]",
                  controller: "uploads",
                  uploads_target: "div",
                  uploads_filetype_value: "files",
                  uploads_allowmultiple_value: false,
                  uploads_thumbnails_value: current_user.settings(:uploading).thumbnails
                  } do %>
            <%= render Forms::LabelComponent.new().with_content("Spectrum file") %>
            <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-md cursor-pointer w-fullbg-white hover:bg-gray-100 py-auto", data: { uploads_target: "trigger"} do %>
              <%= tag.p class: "font-medium", data: { uploads_target: "text" }, id: "file-text" do %>
                Browse...
              <% end %>
            <% end %>
            <%= render Forms::PHelperComponent.new().with_content("Plain text spectra files of any format") %>
          <% end %>

          <%= tag.div class: "",
                data: {
                  uppy: "spectrum[settings]",
                  controller: "uploads",
                  uploads_target: "div",
                  uploads_filetype_value: "files",
                  uploads_allowmultiple_value: false,
                  uploads_thumbnails_value: current_user.settings(:uploading).thumbnails
                  } do %>
            <%= render Forms::LabelComponent.new().with_content("Equipment settings") %>
            <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-md cursor-pointer w-fullbg-white hover:bg-gray-100 py-auto", data: { uploads_target: "trigger"} do %>
              <%= tag.p class: "font-medium", data: { uploads_target: "text" }, id: "settings-text" do %>
                Browse...
              <% end %>
            <% end %>
            <%= render Forms::PHelperComponent.new().with_content("Equipment settings files of any text format") %>
          <% end %>
        </div>
      </div>

      <div id="metadata">
        <%= render Forms::SectionLabelComponent.new().with_content("Metadata") %>
        <%= render Forms::LabelComponent.new().with_content("Metadata") %>
        <%= render Forms::TextInputComponent.new(form: f, as: :text, field: :metadata, required: false, placeholder: "Description to be displayed on object cards", data: { controller: "textarea", action: 'input->textarea#resize', 'textarea-target': 'input' }, v: display_metadata_value(@spectrum)) %>
        <%= render Forms::PHelperComponent.new().with_content("Must be a valid JSON object, prefer single-word keys ") %>
      </div>

      <div class="flex mt-4">
        <%= render Forms::SubmitComponent.new(form: f).with_content("Create") %>
        <%= render Forms::BackButtonComponent.new(path: @sample).with_content("Back") %>
      </div>
    <% end %>

  </div>
</section>
