<p>
  <strong>Title:</strong>
  <%= @spectrum.title %>
  <% @spectrum.csvs.each do |csv| %>
    <%= tag.div class: "", data: {controller: "plot", "plot-url-value": csv.url } do %>
      <%= tag.div data: {"plot-target": "plot"}%>
    <% end %>
  <% end %>
</p>
<div>
  <%= link_to "Edit this spectrum", edit_spectrum_path(@spectrum) %> |
  <%= link_to "Back to spectra", spectra_path %>
  <%= button_to "Destroy this spectrum", @spectrum, method: :delete %>
</div>
