<div class="max-w-screen-xl px-4 sm:px-6 lg:px-8">
  <div class="flex w-full bg-white border rounded-md shadow-sm">
    <div class="flex items-center justify-center mr-4 bg-gray-300 sm:w-96">
      <%= link_to artwork, class: "w-full h-full" do %>
        <% if artwork.thumbnail.attached? %>
          <%= image_tag original_or_variant(artwork.thumbnail, artwork.thumbnail.variant(:thumbnail)), class: "object-cover w-full h-full rounded-md rounded-r-none aspect-4/3" %>
        <% else %>
          <div class="flex items-center justify-center w-full h-full bg-gray-300">
            <svg class="w-12 h-12 text-gray-200" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" viewBox="0 0 640 512"><path d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z" /></svg>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="w-full p-8 pt-4 pr-2 md:pl-0">
      <div class="flex justify-between">
        <%= render ArtworkBadgeComponent.new(status: artwork.status, cls: "!my-auto").with_content(artwork.status.humanize.downcase) %>

        <div class="flex flex-row items-center justify-center mx-1 space-x-1">
          <% if policy(artwork).edit? %>
            <%= link_to [:edit, artwork] do %>
              <%= render TooltipComponent.new(tooltip: "Edit", user: current_user) do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-edit text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                  <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                  <path d="M16 5l3 3"></path>
                </svg>
              <% end %>
            <% end %>
          <% end %>

          <% if policy(artwork).favorite? %>
            <% if current_user.favorited?(artwork) %>
              <%= render TooltipComponent.new(tooltip: "Unfavorite", user: current_user) do %>
                <%= link_to [:favorite, artwork], data: { turbo_method: :patch } do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star-filled flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-star text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" fill="currentColor"></path>
                  </svg>
                <% end %>
              <% end %>
            <% else %>
              <%= render TooltipComponent.new(tooltip: "Favorite", user: current_user) do %>
                <%= link_to [:favorite, artwork], data: { turbo_method: :patch } do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-star text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                  </svg>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if policy(artwork).destroy? %>
            <%= render TooltipComponent.new(tooltip: "Delete", user: current_user) do %>
              <%= link_to artwork, data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-trash-x text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 7h16"></path>
                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                  <path d="M10 12l4 4m0 -4l-4 4"></path>
                </svg>
              <% end %>
            <% end %>
          <% end %>

          <%= tag.div data: { controller: "clipboard", action: "click->clipboard#copy" } do %>
            <%= link_to "", artwork, class: "hidden" , data: { "clipboard-target": "text" } %>
            <%= render TooltipComponent.new(tooltip: "Copy link", user: current_user) do %>
              <svg xmlns="http://www.w3.org/2000/svg" data-clipboard-target="svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-clipboard text-primary-300 hover:text-primary-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                <rect x="9" y="3" width="6" height="4" rx="2"></rect>
              </svg>
            <% end %>
          <% end %>

        </div>
      </div>

      <%= link_to artwork, class: "" do %>
        <div class="mb-2 text-2xl font-semibold hover:underline">
          <%= artwork.title.truncate(100) %>
        </div>
      <% end %>
      <div class="flex mb-4 space-x-2">

        <div class="flex items-center ml-1 text-sm text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 text-gray-500 icon icon-tabler icon-tabler-tags mr-1.5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z"></path>
            <path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116"></path>
            <path d="M6 9h-.01"></path>
          </svg>
          <div>
            <%= artwork.style&.name || "not set" %>
          </div>
        </div>

        <div class="my-auto mr-2 text-sm text-gray-500">
          &middot;
        </div>

        <div class="flex items-center my-auto text-sm text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 text-gray-500 icon icon-tabler icon-tabler-photo mr-1.5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="15" y1="8" x2="15.01" y2="8"></line>
            <rect x="4" y="4" width="16" height="16" rx="3"></rect>
            <path d="M4 15l4 -4a3 5 0 0 1 3 0l5 5"></path>
            <path d="M14 14l1 -1a3 5 0 0 1 3 0l2 2"></path>
          </svg>
          <%= artwork.images.count %> <%= "image".pluralize(artwork.images.count) %>
        </div>

        <div class="my-auto mr-2 text-sm text-gray-500">
          &middot;
        </div>

        <div class="flex items-center my-auto text-sm text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 text-gray-500 icon icon-tabler icon-tabler-user mr-1.5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="7" r="4"></circle>
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
          </svg>
          <%= link_to artwork.user, class: "font-medium hover:underline" do %>
            <%= artwork.user&.full_name %>
          <% end %>
        </div>

        <div class="my-auto mr-2 text-sm text-gray-500">
          &middot;
        </div>

        <div class="flex items-center my-auto text-sm text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 text-gray-500 icon icon-tabler icon-tabler-calendar-due mr-1.5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="4" y="5" width="16" height="16" rx="2"></rect>
            <path d="M16 3v4"></path>
            <path d="M8 3v4"></path>
            <path d="M4 11h16"></path>
            <circle cx="12" cy="16" r="1"></circle>
          </svg>
          <%= artwork.survey_date.to_formatted_s(:long) %>
        </div>
      </div>
      <p class="ml-2 text-sm text-gray-500">
        <%= artwork.description.truncate(280) %>
      </p>
    </div>
    <span class="sr-only">Loading...</span>
  </div>
</div>
