<%= render Sections::SectionComponent.new() do %>
  <%= render Sections::DivContainerComponent.new() do %>
    <%= render Typography::H1Component.new(cls: "text-center").with_content(t('.title')) %>

    <%= render Typography::UnderlineFlexHeadingComponent.new() do %>
      <%= render Typography::H3Component.new(cls: "my-auto mb-0").with_content("Allowed API apps") %>
      <%= render Links::NewLinkComponent.new(path: new_oauth_application_path, cls: "text-gray-500") %>
    <% end %>

    <div class="relative overflow-x-auto border rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
        <thead>
          <tr>
            <th scope="col" class="px-6 py-3">#</th>
            <th scope="col" class="px-6 py-3"><%= t('.name') %></th>
            <th scope="col" class="px-6 py-3"><%= t('.callback_url') %></th>
            <th scope="col" class="px-6 py-3"><%= t('.confidential') %></th>
            <th scope="col" class="px-6 py-3"><%= t('.actions') %></th>
          </tr>
        </thead>
        <tbody class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <% @applications.each do |application| %>
            <tr id="application_<%= application.id %>" class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200">
              <td class="px-6 py-4">
                <%= application.id %>
              </td>
              <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= link_to application.name, oauth_application_path(application) %>
              </th>
              <td class="px-6 py-4">
                <%= simple_format(application.redirect_uri) %>
              </td>
              <td class="px-6 py-4">
                <%= application.confidential? ? t('doorkeeper.applications.index.confidentiality.yes') : t('doorkeeper.applications.index.confidentiality.no') %>
              </td>
              <td class="px-6 py-4">
                <%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(application), class: 'btn btn-link' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
