<section class="py-20 mb-20 text-gray-700 ">
  <div class="container mx-auto">
    <div class="p-4 bg-white rounded-md border shadow-sm sm:p-6">
      <div class="grid grid-cols-12">
        <div class="col-span-3 border-r">
          <div class="flex flex-col justify-center">
            <span class="flex relative m-auto w-20 h-20 rounded-full lg:w-40 lg:h-40 bg-primary-300">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar, class: "object-cover w-20 h-20 rounded-full lg:w-40 lg:h-40" %>
              <% end %>
              <% if @user == current_user %>
                <%= render TooltipComponent.new(tooltip: "Edit Profile", user: current_user) do %>
                  <%= link_to edit_user_registration_path do %>
                    <span class="absolute top-0 right-0 -mr-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-primary-300 hover:text-primary-500 focus:text-primary-500 " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                      </svg>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
            </span>
            <div class="text-center">
              <h3 class="m-auto mt-2 text-xl font-medium">
                <%= @user.full_name %>
              </h3>
              <p class="mx-auto font-normal text-gray-500">
                <%= @user.organization %>
              </p>
              <p class="overflow-hidden mx-auto w-full text-sm font-medium text-gray-500 hover:underline text-ellipsis">
                <a href="<%= "mailto:#{@user.email}" %>" class="">
                  <%= @user.email %>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-6">
          <% if policy(@user).update_settings? %>

            <h4 class="font-semibold text-l mx-2">Settings</h4>

            <div class="mt-4 mr-10 ml-4">
              <%= render "settings_form" %>
            </div>
          <% end %>
        </div>

        <div class="col-span-3 border-l">
          <% if @user == current_user %>
            <div class="mx-4">
              <h4 class="mb-4 font-semibold text-l">Administration</h4>
              <% if policy([:admin, :user]).index? %>
                <%= link_to "/admin/users" do %>
                  <div class="flex my-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden mr-2 w-6 h-6 text-gray-500 lg:block icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <circle cx="9" cy="7" r="4"></circle>
                      <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                      <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                    </svg>
                    <p class="hover:underline">Users table</p>
                  </div>
                <% end %>
              <% end %>
              <% if policy(:category).index? %>
                <%= link_to [:categories] do %>
                  <div class="flex my-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden mr-2 w-6 h-6 text-gray-500 lg:block icon-tabler-messages" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
                      <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
                    </svg>
                    <p class="hover:underline">Forum categories</p>
                  </div>
                <% end %>
              <% end %>
              <% if current_user.has_role?(:admin) %>
                <%= link_to "/admin/sidekiq" do %>
                  <div class="flex my-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden mr-2 w-6 h-6 text-gray-500 lg:block icon-tabler-building-factory" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M4 21c1.147 -4.02 1.983 -8.027 2 -12h6c.017 3.973 .853 7.98 2 12"></path>
                      <path d="M12.5 13h4.5c.025 2.612 .894 5.296 2 8"></path>
                      <path d="M9 5a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1"></path>
                      <line x1="3" y1="21" x2="22" y2="21"></line>
                    </svg>
                    <p class="hover:underline">Sidekiq jobs</p>
                  </div>
                <% end %>
                <%= link_to rswag_ui_path do %>
                  <div class="flex my-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden mr-2 w-6 h-6 text-gray-500 lg:block icon-tabler-api" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M4 13h5"></path>
                      <path d="M12 16v-8h3a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-3"></path>
                      <path d="M20 8v8"></path>
                      <path d="M9 16v-5.5a2.5 2.5 0 0 0 -5 0v5.5"></path>
                    </svg>
                    <p class="hover:underline">API Docs</p>
                  </div>
                <% end %>
                <%= link_to oauth_applications_path do %>
                  <div class="flex my-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden mr-2 w-6 h-6 text-gray-500 lg:block icon-tabler-apps" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <rect x="4" y="4" width="6" height="6" rx="1"></rect>
                      <rect x="4" y="14" width="6" height="6" rx="1"></rect>
                      <rect x="14" y="14" width="6" height="6" rx="1"></rect>
                      <line x1="14" y1="7" x2="20" y2="7"></line>
                      <line x1="17" y1="4" x2="17" y2="10"></line>
                    </svg>
                    <p class="hover:underline">Apps</p>
                  </div>
                <% end %>

              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
