<article class="border small-margin no-padding">

  <nav class="center-allign margin padding">

    <% button = "button border " %>

    <div class="absolute left">

      <%= nav_helper  "span", button, "round" %>

    </div>

    <h4 class="absolute center primary-text">
      Heritage DB
    </h4>
    <!--  
    <div class=" absolute center middle">
      <img src="<%= image_pack_path "logo.png" %>" alt="header logo" class="tiny responsive"/>
    </div>
    -->

    <div class="absolute right">
    
      <%= auth_helper "span", button, "round" %>

      <button data-ui="#dropdown2_" class="<%= button %> circle" >
        <i class="small">language</i>

        <div id="dropdown2_" data-ui="#dropdown2_" class="dropdown border flat no-wrap">

          <% I18n.available_locales.each do |locale| %>
            <%= link_to locale, url_for(params.to_unsafe_h.merge(locale: locale)) %>
          <% end %>
          
        </div>
      </button>
    
    </div>

  </nav>

</article>

