<nav class="relative px-2 bg-white border border-gray-200 shadow-xs sm:px-4 py-2.5">
  <div class="grid grid-cols-3 gap-4">
    <div class="place-self-start">
      <span class="flex flex-row self-center text-xl font-semibold whitespace-nowrap text-primary-500">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 my-auto mr-2">
          <path fill-rule="evenodd" d="M10 1c3.866 0 7 1.79 7 4s-3.134 4-7 4-7-1.79-7-4 3.134-4 7-4zm5.694 8.13c.464-.264.91-.583 1.306-.952V10c0 2.21-3.134 4-7 4s-7-1.79-7-4V8.178c.396.37.842.688 1.306.953C5.838 10.006 7.854 10.5 10 10.5s4.162-.494 5.694-1.37zM3 13.179V15c0 2.21 3.134 4 7 4s7-1.79 7-4v-1.822c-.396.37-.842.688-1.306.953-1.532.875-3.548 1.369-5.694 1.369s-4.162-.494-5.694-1.37A7.009 7.009 0 013 13.179z" clip-rule="evenodd" />
        </svg>
        <p class="hidden lg:block">
          <% unless Rails.application.routes.recognize_path(spectra_path)[:controller] == params[:controller] %>
            ITMO Heritage Science DB
          <% else %>
            ITMO Reference Spectra DB
          <% end %>
        </p>
      </span>
    </div>
    <div class="my-auto place-self-center">
      <ul class="flex flex-row mt-0 space-x-8 text-sm font-medium">
        <% if current_user %>

          <%= render TooltipComponent.new(tooltip: "Home", cls: "p-0 m-0 border-0") do %>
            <li class="p-0 bg-transparent text-primary-300">
              <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 <%= active_style root_path, "!text-primary-500" %>">
                  <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                  <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                <% end %>
              </li>
            <% end %>

            <%= render TooltipComponent.new(tooltip: "About", cls: "p-0 m-0 border-0") do %>
              <li class="p-0 bg-transparent text-primary-300">
                <%= link_to about_path do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 <%= active_style about_path, "!text-primary-500" %>">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                  </svg>
                <% end %>
              </li>
            <% end %>

            <%= render TooltipComponent.new(tooltip: "Uploads", cls: "p-0 m-0 border-0") do %>
              <li class="p-0 bg-transparent text-primary-300">
                <%= link_to uploads_path do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 <%= active_style uploads_path, "!text-primary-500" %>">
                    <path d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
                  </svg>
                <% end %>
              </li>
            <% end %>

            <%= render TooltipComponent.new(tooltip: "Forum", cls: "p-0 m-0 border-0") do %>
              <li class="p-0 bg-transparent text-primary-300">
                <%= link_to discussions_path do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 <%= active_style discussions_path, "!text-primary-500" %>">
                    <path d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
                  </svg>
                <% end %>
              </li>
            <% end %>

            <%= render TooltipComponent.new(tooltip: "Spectra", cls: "p-0 m-0 border-0") do %>
              <li>
                <%= link_to spectra_path do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-itmo_misc_1-300 <%= active_style spectra_path, "!text-itmo_misc_1-500" %>">
                    <path fill-rule="evenodd" d="M10.5 3.798v5.02a3 3 0 01-.879 2.121l-2.377 2.377a9.845 9.845 0 015.091 1.013 8.315 8.315 0 005.713.636l.285-.071-3.954-3.955a3 3 0 01-.879-2.121v-5.02a23.614 23.614 0 00-3 0zm4.5.138a.75.75 0 00.093-1.495A24.837 24.837 0 0012 2.25a25.048 25.048 0 00-3.093.191A.75.75 0 009 3.936v4.882a1.5 1.5 0 01-.44 1.06l-6.293 6.294c-1.62 1.621-.903 4.475 1.471 4.88 2.686.46 5.447.698 8.262.698 2.816 0 5.576-.239 8.262-.697 2.373-.406 3.092-3.26 1.47-4.881L15.44 9.879A1.5 1.5 0 0115 8.818V3.936z" clip-rule="evenodd" />
                  </svg>
                <% end %>
              </li>
            <% end %>

          <% end %>
        </ul>
      </div>
      <%= tag.div data: { controller: "dropdown" }, class: "flex my-auto place-self-end" do %>
        <% if !current_user %>
          <button class="my-auto text-center bg-white rounded-lg text-primary-500 hover:text-primary-300 focus:ring-4 focus:outline-none focus:ring-gray-300" type="button" data-action="click->dropdown#toggle">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </button>
          <!-- Dropdown language menu -->
          <%= tag.div data: { "dropdown-target": "dropdown" }, class: "absolute right-0 z-50 hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow top-12" do %>
            <aside class="w-64" aria-label="Sidebar">
              <%= tag.div data: { controller: "dropdown" } do%>
                <div class="overflow-y-auto bg-white rounded dark:bg-gray-800">
                  <button type="button" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" data-action="click->dropdown#toggle">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>Language</span>
                    <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"><%= t('language_abbr', locale: locale) %></span>
                    <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </button>
                  <%= tag.div data: { "dropdown-target": "dropdown" }, class: "hidden" do %>
                    <ul class="py-2 space-y-2">
                      <% I18n.available_locales.each do |locale| %>
                        <li class="">
                          <%= link_to t('language_name', locale: locale), url_for(params.to_unsafe_h.merge(locale: locale)), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              <% end %>
            </aside>
          <% end %>
        <% else %>
          <%= tag.div data: { controller: "dropdown" } do %>
            <button type="button" class="flex mx-0 text-sm bg-white rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 text-primary-500" aria-expanded="false" data-controller-target="toggle" data-action="click->dropdown#toggle">
              <span class="sr-only">Open user menu</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
              </svg>
            </button>
            <%= tag.div data: { "dropdown-target": "dropdown" }, class: "absolute right-0 z-50 hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow top-12" do %>
              <%= render "shared/application_nav_sidebar" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </nav>
