<aside class="border w-72" aria-label="Sidebar">
  <div class="px-3 py-4 overflow-y-auto bg-white rounded dark:bg-gray-800">
    <% if current_user %>
      <ul>
        <li class="flex items-center pl-2 mb-5">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "object-cover w-12 h-12 mt-2 rounded-full" %>
          <% else %>
          <% end %>
          <%= link_to "/#{locale}/users/#{current_user.slug}", class: "w-10 h-10" do %>
            <div>
              <span class="self-center ml-2 text-xl font-semibold whitespace-nowrap dark:text-white"><%= current_user.first_name.to_s %></span>
              <p class="w-48 mt-0 ml-2 mr-2 overflow-hidden text-gray-500 min-w-1/2 whitespace-nowrap text-ellipsis text-s dark:text-white"><%= current_user.email.to_s %></p>
            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
    <ul class="space-y-2">
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path></svg>
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <li>
        <span class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg select-none group">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
          <span class="flex-1 ml-3 text-left whitespace-nowrap">Manage Account</span>
        </span>
        <ul class="py-2 space-y-2">
          <%= auth_helper "li", 'block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100', "" %>
        </ul>
      </li>
    </ul>
    <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <li>
        <button type="button" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-lang" data-collapse-toggle="dropdown-lang">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>Language</span>
          <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"><%= t('language_abbr', locale: locale) %></span>
          <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <ul id="dropdown-lang" class="hidden py-2 space-y-2">
          <% I18n.available_locales.each do |locale| %>
            <li class="">
              <%= link_to t('language_name', locale: locale), url_for(params.to_unsafe_h.merge(locale: locale)), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</aside>
