<%= cache current_user do %>
  <aside class="border w-72" aria-label="Sidebar">
    <div class="px-3 py-4 overflow-y-auto bg-white rounded ">
      <% if current_user %>
        <ul>
          <li class="flex items-center pl-2 mb-5">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar.variant(resize: '192x108^', crop: '192x108+0+0').processed, class: "object-cover w-12 h-12 mt-2 rounded-full" %>
            <% else %>
            <% end %>
            <%= link_to "/#{locale}/users/#{current_user.slug}", class: "w-10 h-10" do %>
              <div>
                <span class="self-center ml-2 text-xl font-semibold whitespace-nowrap "><%= current_user.first_name.to_s %></span>
                <p class="w-48 mt-0 ml-2 mr-2 overflow-hidden text-gray-500 min-w-1/2 whitespace-nowrap text-ellipsis text-s "><%= current_user.email.to_s %></p>
              </div>
            <% end %>
          </li>
        </ul>
      <% end %>

      <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 ">
        <li>
          <span class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg select-none group">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M11.078 2.25c-.917 0-1.699.663-1.85 1.567L9.05 4.889c-.02.12-.115.26-.297.348a7.493 7.493 0 00-.986.57c-.166.115-.334.126-.45.083L6.3 5.508a1.875 1.875 0 00-2.282.819l-.922 1.597a1.875 1.875 0 00.432 2.385l.84.692c.095.078.17.229.154.43a7.598 7.598 0 000 1.139c.015.2-.059.352-.153.43l-.841.692a1.875 1.875 0 00-.432 2.385l.922 1.597a1.875 1.875 0 002.282.818l1.019-.382c.115-.043.283-.031.45.082.312.214.641.405.985.57.182.088.277.228.297.35l.178 1.071c.151.904.933 1.567 1.85 1.567h1.844c.916 0 1.699-.663 1.85-1.567l.178-1.072c.02-.12.114-.26.297-.349.344-.165.673-.356.985-.57.167-.114.335-.125.45-.082l1.02.382a1.875 1.875 0 002.28-.819l.923-1.597a1.875 1.875 0 00-.432-2.385l-.84-.692c-.095-.078-.17-.229-.154-.43a7.614 7.614 0 000-1.139c-.016-.2.059-.352.153-.43l.84-.692c.708-.582.891-1.59.433-2.385l-.922-1.597a1.875 1.875 0 00-2.282-.818l-1.02.382c-.114.043-.282.031-.449-.083a7.49 7.49 0 00-.985-.57c-.183-.087-.277-.227-.297-.348l-.179-1.072a1.875 1.875 0 00-1.85-1.567h-1.843zM12 15.75a3.75 3.75 0 100-7.5 3.75 3.75 0 000 7.5z" clip-rule="evenodd" />
            </svg>

            <span class="flex-1 ml-3 text-left whitespace-nowrap">Manage Account</span>
          </span>
          <ul class="py-2 space-y-2">
            <li>
              <%= link_to t('auth.logout'), destroy_user_session_path, turbo_method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </li>
            <li>
              <%= link_to 'Profile page', user_url(current_user), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="pt-4 space-y-2 border-t border-gray-200 ">
        <li>
          <%= tag.div data: { controller: "dropdown" } do %>
            <button type="button" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 " aria-expanded="false" data-controller-target="toggle" data-action="click->dropdown#toggle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM8.547 4.505a8.25 8.25 0 1011.672 8.214l-.46-.46a2.252 2.252 0 01-.422-.586l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.211.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.654-.261a2.25 2.25 0 01-1.384-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.279-2.132z" clip-rule="evenodd" />
              </svg>

              <span class="flex-1 ml-3 text-left whitespace-nowrap">
                Language
              </span>
              <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full ">
                <%= t('language_abbr', locale: locale) %>
              </span>
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <%= tag.div data: { "dropdown-target": "dropdown" }, class: "hidden" do %>
              <ul class="py-2 space-y-2">
                <% I18n.available_locales.each do |locale| %>
                  <li>
                    <%= link_to t('language_name', locale: locale), url_for(params.to_unsafe_h.merge(locale: locale)), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>
<% end %>
