<%= cache current_user do %>
  <aside class="w-72 border" aria-label="Sidebar">
    <div class="overflow-y-auto py-4 px-3 bg-white rounded">
      <% if current_user %>
        <ul>
          <li class="flex items-center pl-2 mb-5">
            <% if current_user.avatar.attached? %>
              <%= image_tag original_or_variant(current_user.avatar, current_user.avatar.variant(:small)), class: "object-cover w-12 h-12 mt-2 rounded-full" %>
            <% else %>
            <% end %>
            <%= link_to "/#{locale}/users/#{current_user.slug}", class: "w-10 h-10" do %>
              <div>
                <span class="self-center ml-2 text-xl font-semibold whitespace-nowrap"><%= current_user.first_name.to_s %></span>
                <p class="overflow-hidden mt-0 mr-2 ml-2 w-48 text-gray-500 whitespace-nowrap min-w-1/2 text-ellipsis text-s"><%= current_user.email.to_s %></p>
              </div>
            <% end %>
          </li>
        </ul>
      <% end %>

      <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200">
        <li>
          <span class="flex items-center p-2 w-full text-base font-normal text-gray-600 text-gray-900 rounded-lg transition duration-75 select-none group">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>

            <span class="flex-1 ml-3 text-left whitespace-nowrap">Manage Account</span>
          </span>
          <ul class="py-2 space-y-2">
            <li>
              <%= link_to t('auth.logout'), destroy_user_session_path, turbo_method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </li>
            <li>
              <%= link_to 'Profile page', user_url(current_user), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="pt-4 space-y-2 border-t border-gray-200">
        <li>
          <%= tag.div data: { controller: "dropdown" } do %>
            <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 hover:bg-gray-100 group" aria-expanded="false" data-controller-target="toggle" data-action="click->dropdown#toggle">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <line x1="3.6" y1="9" x2="20.4" y2="9"></line>
                <line x1="3.6" y1="15" x2="20.4" y2="15"></line>
                <path d="M11.5 3a17 17 0 0 0 0 18"></path>
                <path d="M12.5 3a17 17 0 0 1 0 18"></path>
              </svg>

              <span class="flex-1 ml-3 text-left whitespace-nowrap">
                Language
              </span>
              <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full">
                <%= t('language_abbr', locale: locale) %>
              </span>
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <%= tag.div data: { "dropdown-target": "dropdown" }, class: "hidden" do %>
              <ul class="py-2 space-y-2">
                <% I18n.available_locales.each do |locale| %>
                  <li>
                    <%= link_to t('language_name', locale: locale), url_for(params.to_unsafe_h.merge(locale: locale)), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>
<% end %>
