<nav class="relative py-2.5 px-2 bg-white border border-gray-200 sm:px-4 shadow-xs">
  <div class="grid grid-cols-3 gap-4">
    <div class="place-self-start">
      <span class="flex flex-row self-center text-xl font-semibold whitespace-nowrap text-primary-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="my-auto mr-2 w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <ellipse cx="12" cy="6" rx="8" ry="3"></ellipse>
          <path d="M4 6v6a8 3 0 0 0 16 0v-6"></path>
          <path d="M4 12v6a8 3 0 0 0 16 0v-6"></path>
        </svg>
        <p class="hidden lg:block">
          <% unless Rails.application.routes.recognize_path(:samples)[:controller] == params[:controller] %>
            ITMO Heritage Science DB
          <% else %>
            ITMO Reference Spectra DB
          <% end %>
        </p>
      </span>
    </div>
    <div class="place-self-center my-auto">
      <ul class="flex flex-row mt-0 space-x-8 text-sm font-medium">
        <% if current_user %>
          <%= render TooltipComponent.new(tooltip: "Home", cls: "p-0 m-0 border-0", user: current_user) do %>
            <li class="p-0 bg-transparent text-primary-300 hover:text-primary-500">
              <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 <%= active_style root_path, "!text-primary-500" %>" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                  <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                  <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                </svg>
              <% end %>
            </li>
          <% end %>

          <%= render TooltipComponent.new(tooltip: "Artworks", cls: "p-0 m-0 border-0", user: current_user) do %>
            <li class="p-0 bg-transparent text-primary-300 hover:text-primary-500">
              <%= link_to :artworks do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 <%= active_style :artworks, "!text-primary-500" %>" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 21v-4a4 4 0 1 1 4 4h-4"></path>
                  <path d="M21 3a16 16 0 0 0 -12.8 10.2"></path>
                  <path d="M21 3a16 16 0 0 1 -10.2 12.8"></path>
                  <path d="M10.6 9a9 9 0 0 1 4.4 4.4"></path>
                </svg>
              <% end %>
            </li>
          <% end %>

          <%= render TooltipComponent.new(tooltip: "Forum", cls: "p-0 m-0 border-0", user: current_user) do %>
            <li class="p-0 bg-transparent text-primary-300 hover:text-primary-500">
              <%= link_to :discussions do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 <%= active_style :discussions, "!text-primary-500" %>" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 20l-3 -3h-2a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-2l-3 3"></path>
                  <line x1="8" y1="9" x2="16" y2="9"></line>
                  <line x1="8" y1="13" x2="14" y2="13"></line>
                </svg>
              <% end %>
            </li>
          <% end %>

          <%= render TooltipComponent.new(tooltip: "Samples", cls: "p-0 m-0 border-0", user: current_user) do %>
            <li>
              <%= link_to :samples do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-itmo_misc_1-300 hover:text-itmo_misc_1-500 <%= active_style :samples, "!text-itmo_misc_1-500" %>" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <polyline points="4 19 8 13 12 15 16 10 20 14 20 19 4 19"></polyline>
                  <polyline points="4 12 7 8 11 10 16 4 20 8"></polyline>
                </svg>
              <% end %>
            </li>
          <% end %>

        <% end %>
      </ul>
    </div>
    <%= tag.div data: { controller: "dropdown" }, class: "flex my-auto place-self-end" do %>
      <% if current_user %>
        <%= tag.div data: { controller: "dropdown" } do %>
          <button type="button" class="flex mx-0 text-sm bg-white rounded-full md:mr-0   text-primary-300 hover:text-primary-500 <%= active_style url_for(current_user), "!text-primary-500 " %> <%= active_style "/edit", "!text-primary-500 " %>" aria-expanded="false" data-controller-target="toggle" data-action="click->dropdown#toggle">
            <span class="sr-only">Open user menu</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="12" r="9"></circle>
              <circle cx="12" cy="10" r="3"></circle>
              <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
            </svg>
          </button>
          <%= tag.div data: { "dropdown-target": "dropdown" }, class: "absolute right-0 z-50 hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow top-12" do %>
            <%= render "shared/application_nav_sidebar" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</nav>
