<div class="">
  <h3 class="font-bold">Latest Discussions</h3>
  <div class="">
    <% @discussions.each do |discussion| %>
      <div class="">
        <div class="">
          <%# gravatar_image_tag(discussion.user.email, class:'border-radius-50', size: 48, alt: discussion.user.first_name) %>
        </div>
        <div class="">
          <%= link_to discussion do %>
            <h3 class=""><%= discussion.title %></h3>
          <% end %>
          <div class="">
            <%= truncate(strip_markdown(discussion.content), length: 140) %>
            <p><em><small>Posted <%= time_ago_in_words(discussion.created_at) %> ago in
                  <% if discussion.category %>
                    <%= link_to discussion.category.category_name , discussion.category %>
                  <% end %>
                  by <%= (discussion.user.first_name) + " " + (discussion.user.last_name)%>
                </small>
              </em>
            </p>
          </div>
        </div>
        <% if discussion_author(discussion) || has_role?(:admin) %>
          <div class="">
            <%= link_to 'Edit', edit_discussion_path(discussion), class:"" %>
            <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to "New Discussion", new_discussion_path%>
  </div>
</div>
