<div class="flex justify-between border-b">
  <%= render Typography::H4Component.new(cls: "mb-0 text-center").with_content("Latest Discussions") %>
  <%= render Links::NewLinkComponent.new(path: [:new, :discussion], cls: "my-auto") %>
</div>
<%= render Sections::CardComponent.new(cls: "text-gray-700") do %>
  <% if @discussions_unpinned.count > 0 %>
    <ol class="relative border-l border-gray-200">
      <% @discussions_unpinned.each do |discussion| %>
        <li class="mb-10 ml-4">
          <div class="absolute -left-1.5 mt-1.5 w-3 h-3 bg-gray-200 rounded-full border border-white"></div>
          <p class="mb-1 text-sm font-normal leading-none text-gray-400">
            <% if discussion.user %>
              By
              <%= link_to discussion.user, class: "font-medium" do %>
                <%= (discussion.user&.first_name) + " " + (discussion&.user.last_name) %>
              <% end %>
              in
              <% if discussion.category %>
                <%= link_to discussion.category.category_name, discussion.category, class: "font-medium" %>
              <% end %>
            <% end %>
            <%= time_ago_in_words(discussion.created_at) %> ago,
            last active
            <% if discussion.replies.any? %>
              <%= time_ago_in_words(discussion.replies.last.created_at) %>
            <% else %>
              <%= time_ago_in_words(discussion.created_at) %>
            <% end %>
            ago
          </p>
          <div class="flex justify-between">
            <%= link_to discussion do %>
              <div class="flex mb-2">
                <span class="inline-flex items-center py-0.5 px-2.5 my-auto mr-2 h-6 text-xs font-medium text-gray-800 bg-gray-100 rounded">
                  <%= discussion.replies.count %>
                </span>
                <h3 class="my-1 mr-4 text-xl font-bold">
                  <%= discussion.title %>
                </h3>
              </div>
            <% end %>
            <div class="flex">
              <% if policy(discussion).edit? %>

                <%= link_to [:edit, discussion], class: "my-auto text-gray-500" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                    <path d="M16 5l3 3"></path>
                  </svg>
                <% end %>

              <% end %>

              <% if policy(discussion).destroy? %>

                <%= link_to discussion, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "my-auto text-gray-500" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M20 6a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-11l-5 -5a1.5 1.5 0 0 1 0 -2l5 -5z"></path>
                    <path d="M12 10l4 4m0 -4l-4 4"></path>
                  </svg>

                <% end %>

              <% end %>
            </div>
          </div>
          <%= link_to discussion do %>
            <p>
              <%= truncate(strip_tags(discussion.content.to_s), length: 140) %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p class="mb-4 text-sm text-center text-gray-400">
      There are no discussions yet
    </p>
  <% end %>
<% end %>
