<%= render Sections::SectionComponent.new() do %>
  <%= render Sections::DivContainerComponent.new() do %>
    <%= render Typography::UnderlineFlexHeadingComponent.new() do %>
      <%= render Typography::H3Component.new(cls: "my-auto mb-0").with_content("Forum discussion catoegories") %>
      <%= render Links::NewLinkComponent.new(path: new_category_path, cls: "text-gray-500") %>
    <% end %>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3">#</th>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3"><%= "Actions" %></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td class="px-6 py-2">
              <%= category.id %>
            </td>
            <td class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= link_to category.category_name, category %></td>
            <td class="px-6 py-2">
              <div class="flex space-x-2">
                <%= link_to "Edit", edit_category_path(category) %>
                <%= link_to "Delete", category, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn red" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
