<%= render Sections::SectionComponent.new() do %>
  <%= render Sections::DivContainerComponent.new() do %>
    <%= render Typography::UnderlineFlexHeadingComponent.new() do %>
      <%= render Typography::H3Component.new(cls: "my-auto mb-0").with_content("Forum discussion catoegories") %>
      <%= link_to [:new, :category], class: "#{@cls}" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
      <% end %>
    <% end %>
    <table class="w-full text-sm text-left text-gray-500">
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3">#</th>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3"><%= "Actions" %></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td class="px-6 py-2">
              <%= category.id %>
            </td>
            <td class="px-6 py-2 font-medium text-gray-700 whitespace-nowrap"><%= link_to category.category_name, category %></td>
            <td class="px-6 py-2">
              <div class="flex space-x-2">
                <%= link_to "Edit", [:edit, category] %>
                <%= link_to "Delete", category, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn red" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
