<%= render "shared/errors", obj: @user %>
<section class="bg-gray-50">
  <div class="container max-w-screen-lg p-20 mx-auto">
    <h2 class="flex justify-center mb-8 text-4xl font-semibold">
      Edit profile
    </h2>
    <%= form_for(@user, url: admin_user_path(@user), html: { method: :put }, class: "form") do |f| %>
      <div class="grid grid-cols-12">
        <%= tag.div class: "relative col-span-3 row-span-2 mr-8", data: { controller: "avatar", uppy: "user[avatar]", avatar_target: "div" } do %>
          <span class="flex w-40 h-40 m-auto mb-4 rounded-full bg-primary-300">
            <div id="avatar">
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, class: "object-cover w-20 h-20 rounded-full md:w-40 md:h-40", data: { avatar_target: "image" } %>
              <% end %>
            </div>
            <div class="">
              <label for="avatar-upload" class="absolute top-0 right-0 cursor-pointer" data-avatar-target="trigger">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
              </label>
              <%= f.file_field :avatar, direct_upload: true, id: "avatar-upload", class: "hidden" %>
            </div>
          </span>
        <% end %>
        <div class="col-span-9 mb-4">
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-700">First name</label>
          <%= f.text_field :first_name, class: "block w-full text-sm text-gray-700 border border-gray-300 rounded-md shadow-sm bg-gray-50 focus:ring-primary-600 focus:border-primary-600 p-2.5 " %>
        </div>
        <div class="col-span-9 mb-4">
          <label for="last_name" class="block mb-2 text-sm font-medium text-gray-700">Last name</label>
          <%= f.text_field :last_name, class: "block w-full text-sm text-gray-700 border border-gray-300 rounded-md shadow-sm bg-gray-50 focus:ring-primary-600 focus:border-primary-600 p-2.5 " %>
        </div>
      </div>
      <div class="mb-4">
        <label for="organization" class="block mb-2 text-sm font-medium text-gray-700">Organization</label>
        <%= f.text_field :organization, class: "block w-full text-sm text-gray-700 border border-gray-300 rounded-md shadow-sm bg-gray-50 focus:ring-primary-600 focus:border-primary-600 p-2.5 ", placeholder: "ITMO University" %>
      </div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email</label>
      <div class="flex mb-4">
        <div class="grow">
          <%= f.email_field :email, type: "email", id: "email", class: "block w-full text-sm text-gray-700 border border-gray-300 rounded-md shadow-sm bg-gray-50 focus:ring-primary-600 focus:border-primary-600 p-2.5 ", placeholder: "name@example.com", autofocus: false, autocomplete: "email" %>
        </div>
        <%= tag.div data: { controller: "dropdown" } do %>
          <button class="inline-flex items-center px-4 my-auto ml-2 text-sm font-medium text-center text-white rounded-md py-2.5 focus:ring-1 bg-primary-500 hover:bg-primary-800" type="button" data-action="click->dropdown#toggle">
            Roles
            <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <%= tag.div class: "relative hidden", data: { dropdown_target: "dropdown" } do %>
            <div class="absolute top-0 right-0 z-10 bg-white rounded-md shadow w-60">
              <ul class="p-3 overflow-y-auto text-sm text-gray-700">
                <% @roles.each do |role| %>
                  <li>
                    <div class="flex items-center p-2 rounded hover:bg-gray-100">
                      <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-500 focus:ring-primary-600 focus:ring-1" %>
                      <label for="checkbox-item-11" class="w-full ml-2 text-sm font-medium text-gray-700 rounded"><%= role.name %></label>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
        <p>
          Currently waiting confirmation for: <%= @user.unconfirmed_email %>
        </p>
      <% end %>
      <div class="mb-4">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
        <%= f.password_field :password, type: "password", id: "password", class: "block w-full text-sm text-gray-700 border border-gray-300 rounded-md shadow-sm bg-gray-50 focus:ring-primary-600 focus:border-primary-600 p-2.5", placeholder: "•••••••••" %>
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500">Leave blank if you don't want to change it</p>
      </div>
      <div class="flex">
        <button type="submit" class="px-5 text-sm font-medium text-white rounded-md py-2.5   bg-primary-500 hover:bg-primary-800 focus:ring-primary-200">Update</button>
        <%= link_to "Back", "/admin/users", class: "block my-auto ml-4 text-sm font-medium text-gray-500" %>
      </div>
    <% end %>
  </div>
</section>
