<article class="no-padding border">
  <%= link_to upload do %>
      <% if upload.images.count > 0 %>
        <%= image_tag(upload.thumbnail(0), class: "responsive small") %>
      <% else %> 
        <%= image_tag("https://via.placeholder.com/150", class: "responsive small") %>
      <% end %>
    <div class="padding">
      <%= tag.h5 upload.title, class: "no-margin" %>
    </div>
  <% end %> 
    <div><%= upload.description %></div>
    <nav>
      <button class="none">Button</button>
    </nav>
</article>