<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= link_to upload.title, upload %></span>
      <p class="truncate"><%= upload.description %></p>
      <p class=""><%= distance_of_time_in_words(upload.created_at, Time.now) %> ago by <a href="#"><%= upload.user.first_name %></a></p>
    </div>
    <div class="card-action">
      <%= link_to 'Edit', edit_upload_path(upload)%>
      <%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' }%>
    </div>
  </div>
</div>
