<%= render "shared/errors", obj: @upload %>
<section class="bg-gray-50">
  <div class="container p-20 mx-auto max-w-screen-xl">
    <div class="flex justify-center mb-6 text-4xl font-semibold">
      Edit upload
    </div>
    <%= simple_form_for @upload, validate: true do |f| %>

      <!-- Attachment retention on form resubmit -->
      <% f.object.documents.each do |file| %>
        <%= f.hidden_field :documents, value: file.signed_id, multiple: true if file.persisted? %>
      <% end %>
      <!--  -->

      <%= render Forms::SectionLabelComponent.new().with_content("Info") %>
      <div class="grid grid-cols-1 gap-6 mb-6 lg:grid-cols-2">

        <div>
          <%= render Forms::LabelComponent.new(optional: false).with_content("Title") %>
          <%= render Forms::TextInputComponent.new(form: f, field: :title, required: true, placeholder: "Mona Lisa by Leonardo da Vinci") %>
        </div>

        <div>
          <%= render Forms::LabelComponent.new(optional: false).with_content("Status") %>
          <%= f.input :status, default: @upload.status, collection: Upload.statuses.keys.map { |s| [s.humanize, s] }, input_html: {class: "block w-full px-0 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-200 appearance-none py-2.5 focus:outline-none focus:ring-0 focus:border-gray-200 peer"}, hint: false, label: false %>
        </div>

        <div>
          <%= render Forms::LabelComponent.new().with_content("Style/Category") %>
          <%= f.input :style_id, default: @upload.style_id, collection: Style.all.map { |s| [s.name, s.id] }, :include_blank => "None", input_html: {class: "block w-full px-0 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-200 appearance-none py-2.5 focus:outline-none focus:ring-0 focus:border-gray-200 peer"}, hint: false, label: false %>
        </div>

        <div>
          <%= render Forms::LabelComponent.new().with_content("Date") %>
          <%= render Forms::TextInputComponent.new(form: f, field: :date, required: false, placeholder: "16th century, c. 1503–1506") %>
        </div>

      </div>

      <div class="mb-6">
        <%= render Forms::LabelComponent.new(optional: false).with_content("Short description") %>
        <%= render Forms::TextInputComponent.new(form: f, as: :text, field: :description, required: true, placeholder: "Description to be displayed on object cards", data: { controller: "textarea", action: 'input->textarea#resize', textarea_target: "input" }) %>
      </div>

      <div class="mb-6">
        <%= render Forms::LabelComponent.new().with_content("Detailed description") %>
        <%= render Forms::TextInputComponent.new(form: f, as: :rich_text_area, field: :body, required: true, placeholder: "Description to be displayed on object cards") %>
      </div>

      <% if @materials&.count.to_i > 0 %>
        <div class="mb-6">
          <%= render Forms::LabelComponent.new().with_content("Materials") %>
          <%= f.collection_select :material_ids, @materials, :id, :name, {}, multiple: true, data: { controller: "select" }, id: "select" %>
        </div>
      <% end %>

      <div class="grid grid-cols-2 mb-6 space-x-4">
        <div class="mb-4">
          <%= tag.div data: { controller: "datepicker" } do %>
            <%= render Forms::LabelComponent.new().with_content("Survey date") %>
            <%= f.input :survey_date, as: :string, label: false, hint: false, required: true, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-lg shadow-sm focus:ring-1 focus:ring-primary-600 focus:border-primary-600", data: { datepicker_target: "input" } }, placeholder: "DD/MM/YYYY" %>
          <% end %>
        </div>
      </div>

      <%= render Forms::SectionLabelComponent.new().with_content("Files") %>
      <div class="grid grid-cols-1 gap-6 mb-6 lg:grid-cols-2">

        <div>
          <%= render Forms::LabelComponent.new().with_content("Thumbnail") %>
          <%= render Forms::FileInputComponent.new(form: f, field: :thumbnail, required: false, direct: true, multiple: false, accept: "image/*") %>
          <%= render Forms::PHelperComponent.new().with_content(".svg, .png, .jpg or .gif of any size") %>
        </div>

        <%= tag.div class: "row-span-2", data: { uppy: "upload[images_attributes][][image]", controller: "uploads", uploads_target: "div", uploads_settings_value: current_user.settings(:uploading).thumbnails } do %>
          <%= render Forms::LabelComponent.new().with_content("Images") %>
          <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-lg cursor-pointer w-fullbg-white hover:bg-gray-100 py-auto", data: { uploads_target: "trigger"} do %>
            <p class="font-medium text-center" id="uppy-text">
              Browse...
            </p>
          <% end %>
          <%= render Forms::PHelperComponent.new().with_content(".svg, .png, .jpg or .gif of any size") %>
        <% end %>

        <div>
          <%= render Forms::LabelComponent.new().with_content("Documents") %>
          <%= render Forms::FileInputComponent.new(form: f, field: :documents, required: false, direct: true, multiple: true) %>
          <%= render Forms::PHelperComponent.new().with_content(".pdf or any other format (max: 30 MB)") %>
        </div>
      </div>

      <%= render Forms::SectionLabelComponent.new().with_content("Metadata") %>

      <%= render Forms::LabelComponent.new(cls: "mb-4").with_content("Metadata") %>
      <div class="mb-4">
        <%= render Forms::TextInputComponent.new(form: f, as: :text, field: :metadata, required: false, placeholder: "Description to be displayed on object cards", data: { controller: "textarea", action: 'input->textarea#resize', 'textarea-target': 'input' }, v: JSON.is_json?(@upload.metadata) ? JSON.generate(@upload.metadata) : @upload.metadata) %>

        <% unless JSON.is_json?(@upload.metadata) %>
          <%= render Forms::PHelperComponent.new(cls: "!text-amber-600").with_content("Provided metadata doesn't appear to be valid. Check the contents or contact the admin. Invalid metadata can't be indexed or searched!") %>
        <% end %>
        <%= render Forms::PHelperComponent.new(cls: "") do %>
          Enter metadata to store additional properties in JSON format. Must be a valid JSON object, prefer single-word keys. Learn
          <a href="https://www.json.org/json-en.html" class="font-bold hover:underline">more</a>.
        <% end %>
      </div>

      <div class="flex">
        <%= render Forms::SubmitComponent.new(form: f).with_content("Save") %>
        <%= render Forms::BackButtonComponent.new(path: @upload).with_content("Back") %>
      </div>
    <% end %>

  </div>
</section>
