<div class="row large-margin">
  <div class="col s2"></div>
  <div class="col s8 center-align small-padding">
    <!--
    <h3><%= t(".uploads") %></h3>
    -->
    <div class="middle-align row">
      <%= link_to "New", new_upload_path, class: "button large flat col s1 no-padding" %>
      <%= render "search_form" %>
    </div>

    <div class="row">
      <%= render @uploads %>
    </div>
    
    <div>
      <%= paginate @uploads %>
    </div>

  </div>
  <div class="col s2"></div>

</div>
