<div class="container">
  
  <h1><%= t(".upload") %></h1>
  <%= link_to t(".new"), new_upload_path, class: "btn", style: "background-color: #1E51A4 !important;" %>
  <%= render "search_form" %>
  <div class="row">
    <%= render @uploads %>
  </div>
  <div>
    <%= paginate @uploads %>
  </div>
</div>
