<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Uploads</h1>
  <%= link_to 'New Upload', new_upload_path, class: "btn"%>
  <%= render "search_form"%>
  <div class="row">
    <%= render @uploads %>
  </div>
  <div>
    <%= paginate @uploads %>
  </div>
</div>
