<div class="container center-align small-padding">
  
  <h3><%= t(".uploads") %></h3>

  <%= link_to t(".new"), new_upload_path, class: "button" %>
  <%= render "search_form" %>

  <%= render @uploads %>

  <div>
    <%= paginate @uploads %>
  </div>

</div>
