<%= render "shared/errors", obj: @upload %>
<section class="bg-gray-50 ">
  <div class="container max-w-screen-xl p-20 mx-auto">
    <div class="flex justify-center mb-6 text-4xl font-semibold">
      New upload
    </div>
    <%= simple_form_for @upload, validate: true do |f| %>
      <%= render Forms::SectionLabelComponent.new().with_content("Info") %>
      <div class="grid grid-cols-1 gap-6 mb-6 lg:grid-cols-2">

        <div>
          <%= render Forms::LabelComponent.new(optional: false).with_content("Title") %>
          <%= render Forms::TextInputComponent.new(form: f, field: :title, required: true, placeholder: "Mona Lisa by Leonardo da Vinci") %>
        </div>

        <div>
          <%= render Forms::LabelComponent.new(optional: false).with_content("Status") %>
          <%= f.input :status, default: @upload.status, collection: Upload.statuses.keys.map { |s| [s.humanize, s] }, input_html: {class: "block w-full px-0 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-200 appearance-none py-2.5 focus:outline-none focus:ring-0 focus:border-gray-200 peer"}, hint: false, label: false %>
        </div>

        <div>
          <%= render Forms::LabelComponent.new().with_content("Style/Category") %>
          <%= f.input :style_id, default: @upload.style_id, collection: Style.all.map { |s| [s.name, s.id] }, :include_blank => "None", input_html: {class: "block w-full px-0 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-200 appearance-none py-2.5 focus:outline-none focus:ring-0 focus:border-gray-200 peer"}, hint: false, label: false %>
        </div>

        <div>
          <%= render Forms::LabelComponent.new().with_content("Thumbnail") %>
          <%= render Forms::FileInputComponent.new(form: f, field: :thumbnail, required: false, direct: true, multiple: false, accept: "image/*") %>
          <%= render Forms::PHelperComponent.new().with_content(".svg, .png, .jpg or .gif of any size") %>
        </div>

        <%= tag.div class: "row-span-2", data: {"uppy": "upload[images_attributes][][image]", controller: "uploads", "uploads-target": "div", "uploads-settings-value": current_user.settings(:uploading).thumbnails } do %>
          <%= render Forms::LabelComponent.new().with_content("Images") %>
          <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-lg cursor-pointer w-fullbg-white hover:bg-gray-100 py-auto", data: {"uploads-target": "trigger"} do %>
            <p class="font-medium text-center" id="uppy-text">
              Browse...
            </p>
          <% end %>
          <%= render Forms::PHelperComponent.new().with_content(".svg, .png, .jpg or .gif of any size") %>
        <% end %>

        <div>
          <%= render Forms::LabelComponent.new().with_content("Documents") %>
          <%= render Forms::FileInputComponent.new(form: f, field: :documents, required: false, direct: true, multiple: true) %>
          <%= render Forms::PHelperComponent.new().with_content(".pdf or any other format (max: 30 MB)") %>
        </div>

      </div>

      <div class="mb-6">
        <%= render Forms::LabelComponent.new(optional: false).with_content("Short description") %>
        <%= render Forms::TextInputComponent.new(form: f, as: :text, field: :description, required: true, placeholder: "Description to be displayed on object cards", data: {controller: "textarea", action: 'input->textarea#resize', 'textarea-target': 'input' }) %>
      </div>

      <div class="mb-6">
        <%= render Forms::LabelComponent.new().with_content("Detailed description") %>
        <%= render Forms::TextInputComponent.new(form: f, as: :rich_text_area, field: :body, required: true, placeholder: "Description to be displayed on object cards") %>
      </div>

      <% if @materials&.count.to_i > 0 %>
        <div class="mb-6">
          <%= render Forms::LabelComponent.new().with_content("Materials") %>
          <%= f.collection_select :material_ids, @materials, :id, :name, {}, multiple: true, data: {controller: "select"}, id: "select" %>
        </div>
      <% end %>

      <div class="grid grid-cols-2 mb-6 space-x-4">
        <div>
          <%= render Forms::LabelComponent.new().with_content("Date") %>
          <%= render Forms::TextInputComponent.new(form: f, field: :date, required: false, placeholder: "16th century, c. 1503–1506") %>
        </div>

        <div class="mb-4">
          <%= tag.div data: { controller: "datepicker" } do %>
            <%= render Forms::LabelComponent.new().with_content("Survey date") %>
            <%= f.input :survey_date, as: :string, label: false, hint: false, required: true, input_html: { class: "w-full pr-6 text-sm border-gray-300 rounded-lg shadow-sm p-2.5 focus:ring-1 focus:ring-primary-600 focus:border-primary-600", data: { datepicker_target: "input" } }, placeholder: "DD/MM/YYYY" %>
          <% end %>
        </div>
      </div>

      <!-- Metadata fields -->
      <%= render Forms::SectionLabelComponent.new().with_content("Metadata") %>

      <%#= render Forms::LabelComponent.new().with_content("Metadata") %>

      <%= tag.div data: {controller: "metadataForm"}, class: "grid grid-cols-12 gap-4 mb-4 gap-y-0" do %>

        <div class="col-span-7" data-metadataForm-target="formContainer">
          <div class="container grid grid-cols-11 mx-auto mb-6 gap-1.5" data-metadataForm-target="fieldRow">

            <button data-metadataForm-target="addButton" id="addButton" type="button" class="m-auto text-center text-black rounded-lg text-smfont-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <div class="col-span-5">
              <%= render Forms::LabelComponent.new(optional: false).with_content("Field name") %>
              <div class="relative">
                <input type="text" name="metadata-field-name" class="block w-full text-sm text-gray-900 bg-white border border-gray-300 rounded-lg metadata focus:ring-primary-500 focus:border-primary-500 p-2.5 " placeholder="wavelength, etc." autofocus>
              </div>
            </div>
            <div class="col-span-5">
              <%= render Forms::LabelComponent.new(optional: false).with_content("Value") %>

              <div class="flex">
                <input type="text" name="metadata-field-value" class="flex-1 block w-full min-w-0 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg metadata focus:ring-primary-500 focus:border-primary-500 p-2.5 " placeholder="1064 or [532, 1064]">
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-5 ">
          <%= render Forms::LabelComponent.new(optional: false).with_content("JSON preview") %>
          <div class="text-gray-900 border border-gray-300 rounded-lg bg-gray-50 min-h-2/3">
            <div class="tree">
            </div>
            <div class="hidden">
              <%= f.label :metadata %>
              <%= f.text_field :metadata, data: { "metadataForm-target": "railsInput" } %>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Metadata fields end -->

      <div class="flex">
        <%= render Forms::SubmitComponent.new(form: f).with_content("Create") %>
        <%= render Forms::BackButtonComponent.new(path: :uploads).with_content("Back") %>
      </div>
    <% end %>

  </div>
</section>
