<div class="container">
  <div class="center">
    <h2>
      <%= @upload.title %>
    </h2>
    <%= @upload.status %>
    <div>
      <% Upload.statuses.keys.each do |status| %>
        <%= link_to status, '#', data: { reflex: 'click->Upload#change_status', upload_id: @upload.id, status: status}, class: "btn" %>
      <% end %>
    </div>
  </div>
  <% (0...@upload.images.count).each do |image| %>
    <%= image_tag(@upload.thumbnail(image)) %>
  <% end %>
  <% @upload.documents.all.each do |doc| %>
    <% if doc.representable? %>
      <%= image_tag(doc.representation(resize: "200x200")) %>
    <% else %>
      <%= tag.span doc.filename %>
    <% end %>
  <% end %>
  <h3>
    <strong>Description:</strong>
  </h3>
  <div>
    <% if @upload.images.any? %>
      <%= link_to "Download images", upload_path(format: :zip), class: "btn" %>
    <% end %>
  </div>
  <%= @upload.description %>
  <p>
    <%= @upload.body %>
  </p>
  <%= link_to "Edit", edit_upload_path(@upload), class: "btn" %> |
  <%= link_to "Back", uploads_path, class: "btn" %>
</div>
