<% if @upload.thumbnail.attached? %>
  <div class="relative h-56 overflow-hidden sm:h-64 xl:h-80 2xl:h-96">
    <%= image_tag original_or_variant(@upload.thumbnail, @upload.thumbnail.variant(:banner)), class: "absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
  </div>
<% end %>

<section class="pb-20 mx-auto mb-20 text-gray-700 border bg-gray-50">
  <div class="container max-w-screen-xl mx-auto ">
    <div class="my-10 text-center">
      <%= render UploadBadgeComponent.new(status: @upload.status).with_content(@upload.status.humanize.downcase) %>
      <h5 class="text-2xl font-extrabold"><%= @upload.title %></h5>
      <p><%= @upload.description %></p>
    </div>
    <div class="flex justify-between mb-4 border-b">
      <label class="block text-lg font-medium text-gray-900 ">Info</label>
      <div class="flex my-auto mr-4">
        <% if policy(@upload).update? %>
          <%= link_to [:edit, @upload] do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
          <% end %>
        <% end %>
        <% if policy(@upload).destroy? %>
          <%= link_to @upload, data: { turbo_method: :delete, turbo_confirm: "Delete upload?" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="p-4 bg-white border rounded-lg shadow-md sm:p-6 ">
      <div class="grid grid-cols-12 pb-4">
        <div class="col-span-6 border-r">
          <div class="m-4">
            <%= @upload.body %>
          </div>
          <%= link_to [:uploads], class: "block my-auto text-sm font-medium text-gray-500 " do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
            </svg>
          <% end %>
        </div>
        <div class="col-span-3 border-r">
          <div class="mx-4">
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
              </svg>
              <h4 class="mb-4 ml-1 font-medium text-l">Documents (<%= @documents&.count.to_i %>)</h4>
            </div>
            <div class="ml-8">
              <ul class="list-disc">
                <% @documents&.each do |doc| %>
                  <li>
                    <p class="truncate">
                      <%= link_to rails_blob_path(doc, disposition: 'attachment') do %>
                        <%= doc.filename.to_s %>
                      <% end %>
                    </p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-span-3">
          <div class="mx-4">
            <h4 class="mb-4 font-medium text-l">Metadata</h4>
            <%= tag.div data: {controller: 'metadata', "metadata-json-value": @upload.metadata} do %>
              <div class="tree">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @upload.has_images? %>
      <div class="relative w-full mx-auto my-10 md:container md:mx-auto">
        <div class="flex justify-between mb-4 border-b">
          <div class="flex">
            <label class="block text-lg font-medium text-gray-900 ">Images (<%= @upload.image_count %>)</label>
            <%= link_to upload_path(format: :zip), class:"my-auto ml-2" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
              </svg>
            <% end %>
          </div>
          <div class="mr-4">
            <%# <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 ">Click on images to zoom</p> %>
          </div>
        </div>
        <%= turbo_frame_tag :images_grid, src: images_grid_upload_path, loading: "lazy" do %>
          <div class="grid grid-cols-5 gap-2">
            <% 20.times do %>
              <%= tag.div class: "relative w-full h-full py-auto aspect-4/3" do %>
                <div class="absolute top-0 left-0 z-0 flex items-center justify-center w-full h-full bg-gray-300 rounded animate-pulse ">
                  <svg class="w-12 h-12 text-gray-200 " xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" viewBox="0 0 640 512"><path d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z" /></svg>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="relative w-full mx-auto my-10 md:container md:mx-auto" id="gallery">
      <div class="flex justify-between mb-4 border-b">
        <div class="flex">
          <label class="block text-lg font-medium text-gray-900 ">Images (<%= @upload.image_count %>)</label>
        </div>
      </div>
      <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 ">There are no images yet, click edit button in ther right top corner to upload</p>
    </div>
  <% end %>
</section>
