<div class="container">
<p id="notice"><%= notice %></p>
<h2 class="center">
  <%= @upload.title %>
</h1>
<% (0...@upload.images.count).each do |image| %>
  <%= image_tag(@upload.thumbnail(image)) %>
  <!--
  <%= link_to "Download", rails_blob_path(@upload.images.find_by(blob_id: (@upload.images.first.blob_id + image)), disposition: 'attachment') %>
   -->
<% end %>
<h3>
  <strong>Description:</strong>
</h3>

  <%= @upload.description %>
<p>
  <%= @upload.body %>
</p>
<%= link_to "Edit", edit_upload_path(@upload) %> |
<%= link_to "Back", uploads_path %>
</div>

