<% if @upload.images.count >= 3 %>
  <div id="default-carousel" class="relative" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="overflow-hidden relative h-56 sm:h-64 xl:h-80 2xl:h-96">
      <!-- Item 1 -->
      <% id = @upload.images.first.id %>
      <% (0...3).each do |i| %>
        <div class="duration-100 ease-in-out inset-0 transition-all transform translate-x-0 z-10" data-carousel-item="">
          <%= image_tag(@upload.images.find(id+i), class: "block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2") %>
        </div>
      <% end %>
      <div class="carousel-caption hidden md:block absolute text-center z-20">
        <h5 class="text-2xl font-extrabold"><%= @upload.title %></h5>
        <p><%= @upload.description %></p>
      </div>
    </div>
    <!-- Slider indicators -->
    <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
      <button type="button" class="w-3 h-3 rounded-full bg-white dark:bg-gray-800" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev="">
      <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
        <span class="hidden">Previous</span>
      </span>
    </button>
    <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next="">
      <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
        <span class="hidden">Next</span>
      </span>
    </button>
  </div>
<% else %>
  <% if @upload.thumbnail.attached? %>
    <div class="overflow-hidden relative h-56 sm:h-64 xl:h-80 2xl:h-96">
      <%= image_tag @upload.thumbnail, class: "block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" %>
      <div class="carousel-caption hidden md:block absolute text-center z-20">
        <h5 class="text-2xl font-extrabold"><%= @upload.title %></h5>
        <p><%= @upload.description %></p>
      </div>
    </div>
  <% end %>
<% end %>
<div class="grid grid-cols-3 gap-4 mx-auto md:container md:mx-auto my-20 w-full">
  <div class="justify-self-start ">
    <%= @upload.status %>
    <% if @upload.images.any? %>
      <%= link_to "Download images", upload_path(format: :zip), class: "btn" %>
    <% end %>
    <%= @upload.description %>
    <%= @upload.body %>
    <% @upload.documents.all.each do |doc| %>
      <% if doc.representable? %>
        <%= image_tag(doc.representation(resize: "200x200")) %>
      <% else %>
        <%= tag.span doc.filename %>
      <% end %>
    <% end %>
    <%= @upload.metadata %>
    <% if policy(@upload).update? %>
      <%= link_to "Edit", edit_upload_path(@upload), class: "btn" %> |
    <% end %>
    <% if policy(@upload).destroy? %>
      <%= link_to "Back", uploads_path, class: "btn" %>
    <% end %>
  </div>
  <div class="justify-self-end col-span-2">
    <div class="grid grid-cols-2 gap-1">
      <% (0...@upload.images.count).each do |image| %>
        <div>
          <%= image_tag(@upload.to_thumbnail(image), class: "object-cover h-100") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
