<% if @upload.images.count >= 3 %>
  <div id="default-carousel" class="relative" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="overflow-hidden relative h-56 sm:h-64 xl:h-80 2xl:h-96">
      <!-- Item 1 -->
      <% @upload.images.first(3).each do |image| %>
        <div class="duration-100 ease-in-out inset-0 transition-all transform translate-x-0 z-10" data-carousel-item="">
          <%= image_tag image, class: "block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" %>
        </div>
      <% end %>
    </div>
    <!-- Slider indicators -->
    <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
      <button type="button" class="w-3 h-3 rounded-full bg-white dark:bg-gray-800" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev="">
      <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
        <span class="hidden">Previous</span>
      </span>
    </button>
    <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next="">
      <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
        <span class="hidden">Next</span>
      </span>
    </button>
  </div>
<% else %>
  <% if @upload.thumbnail.attached? %>
    <div class="overflow-hidden relative h-56 sm:h-64 xl:h-80 2xl:h-96">
      <%= image_tag @upload.thumbnail, class: "block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" %>
    </div>
  <% end %>
<% end %>
<section class="pb-20 text-gray-700 bg-gray-50 dark:bg-gray-900 border mb-20">
  <div class="container mx-auto">
    <div class="text-center my-10">
      <div class="flex justify-center">
        <span class="<%= status_badge_style(@upload.status).to_s %> my-auto" >
          <%= @upload.status %>
        </span>
        <h5 class="text-2xl font-extrabold"><%= @upload.title %></h5>
      </div>
      <p><%= @upload.description %></p>
    </div>
    <div class="flex justify-between mb-4 border-b">
      <label class="block text-lg font-medium text-gray-900 dark:text-gray-300">Info</label>
      <div class="flex mr-4 my-auto">
        <% if policy(@upload).update? %>
          <%= link_to edit_upload_path(@upload) do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
          <% end %>
        <% end %>
        <% if policy(@upload).destroy? %>
          <%= link_to upload_path(@upload), data: {turbo_method: :delete, turbo_confirm: "Delete upload?" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="p-4 bg-white rounded-lg border shadow-md sm:p-6 dark:bg-gray-800 dark:border-gray-700">
      <div class="grid grid-cols-12 pb-4">
        <div class="col-span-6 border-r">
          <div class="m-4">
            <%= @upload.body %>
          </div>
          <%= link_to uploads_path, class: "block my-auto text-sm font-medium text-gray-500 dark:text-gray-300 " do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
            </svg>
          <% end %>
        </div>
        <div class="col-span-3 border-r">
          <div class="mx-4">
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
              </svg>
              <h4 class="text-l font-medium mb-4 ml-1">Documents (<%= @upload.documents.count %>)</h4>
            </div>
            <div class="ml-8">
              <ul class="list-disc">
                <% @upload.documents.all.each do |doc| %>
                  <li>
                    <p class="truncate">
                      <%= link_to rails_blob_path(doc, disposition: 'attachment') do %>
                        <%= doc.filename.to_s %>
                      <% end %>
                    </p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-span-3">
          <div class="mx-4">
            <h4 class="text-l font-medium mb-4">Metadata</h4>
            <%= tag.div data: {controller: 'metadata', "metadata-json-value": @upload.metadata} do %>
              <div class="tree">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @upload.images.any? %>
    <div class="mx-auto md:container md:mx-auto my-10 w-full relative" id="gallery">
      <div class="flex border-b mb-4 justify-between">
        <div class="flex">
          <label class="block text-lg font-medium text-gray-900 dark:text-gray-300">Images (<%= @upload.images.count%>)</label>
          <%= link_to upload_path(format: :zip), class:"my-auto ml-2" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            </svg>
          <% end %>
        </div>
        <div class="mr-4">
          <%# <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Click on images to zoom</p> %>
        </div>
      </div>
      <div class="grid grid-cols-5 gap-y-1">
        <% @upload.images.all.each do |image| %>
          <%= tag.div class: "m-2" do %>
            <%= image_tag image.variant(resize: '400x300^', crop: '400x300+0+0').processed, class: "rounded object-cover w-full", data: {"image-target": "image"} %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
