<!DOCTYPE html>
<html>
  <head>
    <title>ITMOHSDB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= auth_helper "no-underline hover:underline" %>
    <%= nav_helper "no-underline hover:underline m-2", "span"%>
    <br>
    <%= yield %>
    <%# set_copyright %>
  </body>
</html>
