<!doctype html>
<%= tag.html class: current_user&.settings(:ui)&.dark ? "dark" : nil do %>
  <head>
    <title>hsdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>
    <%= tag.meta name: "psj", action: action_name, controller: controller_name %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="flex flex-col justify-between h-screen text-gray-700" data-controller="btt">
    <%= render "shared/application_nav" %>
    <%= render "shared/breadcrumbs" %>
    <%= render "shared/flash" %>
    <%= render "shared/confirm_modal" %>
    <div class="absolute self-end space-y-4 right-2 top-16">
      <%= render "shared/clipboard_flash" %>
    </div>
    <main class="mb-auto">
      <%= yield %>
      <%= render "shared/back_to_top" %>
    </main>
    <%= render "shared/application_footer" %>
  </body>
<% end %>
