<!DOCTYPE html>
<html>
  <head>
    <title>ITMOHSDB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="h-screen">
    <%= render "shared/application_nav" %>
    <% flash.each do |k, v| %>
      <%= tag.div v, class: "container #{k}", role: "alert" %>
    <% end %>
    <%= yield %>
    <%#= render "shared/application_footer" %>
  </body>
</html>
