<!DOCTYPE html>
<html>
  <head>
    <title>ITMOHSDB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body class="is-light">
    <%= render "shared/application_nav" %>
    <% flash.each do |k, v| %>
      <%= tag.div v, class: "container #{k}", role: "alert" %>
    <% end %>
    <%= yield %>
    <%= render "shared/application_footer" %>
  </body>
</html>
