<!doctype html>
<%= tag.html class: current_user&.settings(:ui)&.dark ? "dark" : nil do %>
  <head>
    <title>hsdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>
    <%= tag.meta name: "psj", action: action_name, controller: controller_name %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= action_cable_meta_tag %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="flex flex-col justify-between h-screen text-gray-700" data-controller="btt compare">
    <%= render "shared/application_nav" %>
    <%= render "shared/breadcrumbs" %>
    <%= render "shared/flash" %>
    <%= render "shared/confirm_modal" %>
    <div class="absolute self-end space-y-4 right-2 top-16">
      <%= render "shared/clipboard_flash" %>
    </div>
    <main class="mb-auto">
      <%= yield %>
      <%= render "shared/back_to_top" %>
    </main>
    <%= render "shared/application_footer" %>

    <%# datepicker fix %>
    <div class="hidden">
      <div class="days">
        <div class="grid flex-1 block grid-cols-7 mb-1 text-sm font-semibold leading-9 text-center text-gray-900 border-0 rounded-lg cursor-default days-of-week dow"></div>
        <div class="grid flex-1 block w-64 h-6 grid-cols-7 text-sm font-medium font-semibold leading-6 leading-9 text-center text-gray-500 text-gray-900 border-0 rounded-lg cursor-default datepicker-grid dark:text-gray-400"></div>
      </div>
      <div class="calendar-weeks">
        <div class="flex days-of-week"><span class="h-6 text-sm font-medium leading-6 text-gray-500 dow dark:text-gray-400"></span></div>
        <div class="flex-1 block text-sm font-semibold leading-9 text-center text-gray-900 border-0 rounded-lg cursor-default weeks week"></div>
      </div>
    </div>
  </body>
<% end %>
